Repository ShaylenReddy42/Seelans-Tyres: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-functionapps-systemdegradedtogglersolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

.pipelines/seelanstyres-frontends-healthchecksuisolution.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build_HealthChecksUISolution
      pool: Default
      cancelTimeoutInMinutes: 2
      steps:
      - template: templates/build-and-scan-solution.yml
      - template: templates/publish-project.yml
        parameters:
          solutionFolder: Frontends
  ...

.pipelines/seelanstyres-frontends-mvcsolution.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build_MvcSolution
      pool: Default
      cancelTimeoutInMinutes: 2
      steps:
      - template: templates/build-and-scan-solution.yml
      - template: templates/publish-project.yml
        parameters:
          solutionFolder: Frontends
  ...

.pipelines/seelanstyres-functionapps-systemdegradedtogglersolution.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build_SystemDegradedTogglerSolution
      pool: Default
      cancelTimeoutInMinutes: 2
      steps:
      - template: templates/build-and-scan-solution.yml
      - template: templates/publish-project.yml
        parameters:
          solutionFolder: FunctionApps
  ...

.pipelines/seelanstyres-gateways-mvcbff.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build_MvcBffSolution
      pool: Default
      cancelTimeoutInMinutes: 2
      steps:
      - template: templates/build-and-scan-solution.yml
      - template: templates/publish-project.yml
        parameters:
          solutionFolder: Gateways
  ...

.pipelines/seelanstyres-services-addressservicesolution.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build_AddressServiceSolution
      pool: Default
      cancelTimeoutInMinutes: 2
      steps:
      - template: templates/build-and-scan-solution.yml
      - template: templates/create-efcore-bundle.yml
        parameters:
  ...

.pipelines/seelanstyres-services-identityservicesolution.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build_IdentityServiceSolution
      pool: Default
      cancelTimeoutInMinutes: 2
      steps:
      - template: templates/build-and-scan-solution.yml
      - template: templates/publish-project.yml
        parameters:
          solutionFolder: Services
  ...

.pipelines/seelanstyres-services-orderservicesolution.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build_OrderServiceSolution
      pool: Default
      cancelTimeoutInMinutes: 2
      steps:
      - template: templates/build-and-scan-solution.yml
      - template: templates/create-efcore-bundle.yml
        parameters:
          solutionSubfolder: OrderServiceSolution
  ...

.pipelines/seelanstyres-services-tyresservicesolution.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build_TyresServiceSolution
      pool: Default
      cancelTimeoutInMinutes: 2
      steps:
      - template: templates/build-and-scan-solution.yml
      - template: templates/create-efcore-bundle.yml
        parameters:
          solutionSubfolder: TyresServiceSolution
  ...

hmm
  .pipelines/seelanstyres-functionapps-systemdegradedtogglersolution.yml
Due: none

pipelines: change true/false to enabled/disabled for the release pipeline
  .pipelines/seelanstyres-functionapps-systemdegradedtogglersolution.yml
Due: none

pipelines: removing conditional on the release pipeline for the time-being
  .pipelines/seelanstyres-frontends-healthchecksuisolution.yml
  .pipelines/seelanstyres-frontends-mvcsolution.yml
  .pipelines/seelanstyres-functionapps-systemdegradedtogglersolution.yml
  .pipelines/seelanstyres-gateways-mvcbff.yml
  .pipelines/seelanstyres-services-addressservicesolution.yml
  .pipelines/seelanstyres-services-identityservicesolution.yml
  .pipelines/seelanstyres-services-orderservicesolution.yml
  .pipelines/seelanstyres-services-tyresservicesolution.yml
Due: none

attempt to resolve connection to azure storage
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/SeelansTyres.Frontends.Mvc.csproj
Due: .pipelines/seelanstyres-frontends-mvcsolution.yml

iac: update kql queries in the query pack as well as the scheduled query rule
  infrastructure/with-bicep/01-prebuild/01-query-pack/template.bicep
  infrastructure/with-bicep/02-environment-specific/12-scheduled-query-rule/template.bicep
Due: none

revert "iac: update kql queries in the query pack as well as the scheduled query rule"
  infrastructure/with-bicep/01-prebuild/01-query-pack/template.bicep
  infrastructure/with-bicep/02-environment-specific/12-scheduled-query-rule/template.bicep
Due: none

health checks ui: increase the polling interval to 45 seconds
  src/Frontends/HealthChecksUISolution/SeelansTyres.Frontends.HealthChecksUI/appsettings.json
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml

health checks ui: increase the interval to 60 seconds
  infrastructure/with-bicep/02-environment-specific/12-scheduled-query-rule/template.bicep
  src/Frontends/HealthChecksUISolution/SeelansTyres.Frontends.HealthChecksUI/appsettings.json
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml

pipelines: change the webapp deployment approach
  .pipelines/templates/deploy-webapp.yml
Due: none

iac: attempt to update the api versions of all resources
  infrastructure/with-bicep/02-environment-specific/01-app-configuration/template.bicep
  infrastructure/with-bicep/02-environment-specific/03-storage-account/template.bicep
  infrastructure/with-bicep/02-environment-specific/04-application-insights/template.bicep
  infrastructure/with-bicep/02-environment-specific/05-redis/template.bicep
  infrastructure/with-bicep/02-environment-specific/06-sql-server/template.bicep
  infrastructure/with-bicep/02-environment-specific/07-function-app/template.bicep
  infrastructure/with-bicep/02-environment-specific/08-app-services-low-load/template.bicep
  infrastructure/with-bicep/02-environment-specific/09-app-services-moderate-load/template.bicep
  infrastructure/with-bicep/02-environment-specific/10-app-services-high-load/template.bicep
  infrastructure/with-bicep/02-environment-specific/11-role-assignments/against-app-configuration.bicep
  infrastructure/with-bicep/02-environment-specific/12-scheduled-query-rule/template.bicep
  infrastructure/with-bicep/02-environment-specific/13-role-assignment-to-function-app/template.bicep
Due: none

iac: change the api version to 2023-03-15-preview for scheduledQueryRules
  infrastructure/with-bicep/02-environment-specific/12-scheduled-query-rule/template.bicep
Due: none

pipelines: move 'checkout: none' out of the 'download-artifacts-and-deploy-infrastructure' template
  .pipelines/seelanstyres-frontends-healthchecksuisolution.yml
  .pipelines/seelanstyres-frontends-mvcsolution.yml
  .pipelines/seelanstyres-functionapps-systemdegradedtogglersolution.yml
  .pipelines/seelanstyres-gateways-mvcbff.yml
  .pipelines/seelanstyres-services-addressservicesolution.yml
  .pipelines/seelanstyres-services-identityservicesolution.yml
  .pipelines/seelanstyres-services-orderservicesolution.yml
  .pipelines/seelanstyres-services-tyresservicesolution.yml
  .pipelines/templates/download-artifacts-and-deploy-infrastructure.yml
  azure-pipelines.yml
Due: none

use slightly friendlier names for all health checks
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Program.cs
  src/Gateways/MvcBffSolution/SeelansTyres.Gateways.MvcBff/Extensions/HealthChecksExtensions.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Abstractions/HealthChecks.cs
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

oops, forgot elasticsearch
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Abstractions/HealthChecks.cs
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

introduce models for configuration options
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Program.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Abstractions/WebApplicationBuilderConfiguration.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Configuration/ElasticsearchLoggingSinkOptions.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Configuration/ExternalServiceOptions.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Extensions/WebApplicationExtensions.cs
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

remove the HealthChecksModel
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Abstractions/CookiePolicy.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Abstractions/HealthChecks.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Abstractions/WebApplicationBuilderConfiguration.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Configuration/ApplicationHostingOptions.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Models/HealthChecksModel.cs
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

introduce HealthCheckEndpointOptions
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Abstractions/HealthChecks.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Configuration/HealthCheckEndpointOptions.cs
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

remove direct usage of configuration in the logging abstraction
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Abstractions/HealthChecks.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Abstractions/Logging.cs
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

ooo, resolve a massive bug that i created in the mvc bff
  src/Gateways/MvcBffSolution/SeelansTyres.Gateways.MvcBff/Extensions/HealthChecksExtensions.cs
Due: .pipelines/seelanstyres-gateways-mvcbff.yml

remove role from the viewReceiptModal
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Views/Shared/_ViewReceiptModal.cshtml
Due: .pipelines/seelanstyres-frontends-mvcsolution.yml

resolve two maintainability issues across the solution
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Controllers/AdminController.cs
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Services/AdminAccountSeeder.cs
Due: .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml

increase the log level for http clients to warning
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Abstractions/Logging.cs
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

pipelines: remove the shared library from the trigger paths
  .pipelines/seelanstyres-frontends-healthchecksuisolution.yml
  .pipelines/seelanstyres-frontends-mvcsolution.yml
  .pipelines/seelanstyres-gateways-mvcbff.yml
  .pipelines/seelanstyres-services-addressservicesolution.yml
  .pipelines/seelanstyres-services-identityservicesolution.yml
  .pipelines/seelanstyres-services-orderservicesolution.yml
  .pipelines/seelanstyres-services-tyresservicesolution.yml
Due: none

styling: fix footer positioning and remove as much custom css as possible
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Views/Account/Index.cshtml
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Views/Admin/Index.cshtml
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Views/Home/About.cshtml
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Views/Home/Index.cshtml
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Views/Shared/_Layout.cshtml
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/css/site.css
Due: .pipelines/seelanstyres-frontends-mvcsolution.yml

styling: remove a redundant css class
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Views/Account/Index.cshtml
Due: .pipelines/seelanstyres-frontends-mvcsolution.yml

styling: introduce variables and add the brand color
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Views/Account/Index.cshtml
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Views/Account/Register.cshtml
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Views/Account/ResetPassword.cshtml
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Views/Admin/AddTyre.cshtml
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Views/Admin/Index.cshtml
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Views/Admin/UpdateTyre.cshtml
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Views/Home/About.cshtml
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Views/Home/Index.cshtml
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Views/Home/Services.cshtml
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Views/Home/Shop.cshtml
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Views/Shared/_Layout.cshtml
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Views/Shopping/Cart.cshtml
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/css/site.css
Due: .pipelines/seelanstyres-frontends-mvcsolution.yml

html: use asp-append-version for detecting and reloading changed static files
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Views/Shared/_Layout.cshtml
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/js/site.js
Due: .pipelines/seelanstyres-frontends-mvcsolution.yml

update nuget packages
  .config/dotnet-tools.json
  .pipelines/templates/build-and-scan-solution.yml
  README.md
  src/Frontends/HealthChecksUISolution/SeelansTyres.Frontends.HealthChecksUI/SeelansTyres.Frontends.HealthChecksUI.csproj
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/SeelansTyres.Frontends.Mvc.csproj
  src/Gateways/MvcBffSolution/SeelansTyres.Gateways.MvcBff/SeelansTyres.Gateways.MvcBff.csproj
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/SeelansTyres.Libraries.Shared.csproj
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

readme: add the version of wsl that i use
  .config/dotnet-tools.json
  .pipelines/templates/build-and-scan-solution.yml
  README.md
  src/Frontends/HealthChecksUISolution/SeelansTyres.Frontends.HealthChecksUI/SeelansTyres.Frontends.HealthChecksUI.csproj
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/SeelansTyres.Frontends.Mvc.csproj
  src/Gateways/MvcBffSolution/SeelansTyres.Gateways.MvcBff/SeelansTyres.Gateways.MvcBff.csproj
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/SeelansTyres.Libraries.Shared.csproj
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

pipelines: upgrade sonarcloud tasks to v2
  .pipelines/templates/build-and-scan-solution.yml
Due: none

pipelines: use .net sdk 8.0.302
  .pipelines/templates/build-and-scan-solution.yml
  README.md
  src/Gateways/MvcBffSolution/SeelansTyres.Gateways.MvcBff/SeelansTyres.Gateways.MvcBff.csproj
Due: .pipelines/seelanstyres-gateways-mvcbff.yml

remove PublishReadyToRun from all csproj files
  src/Frontends/HealthChecksUISolution/SeelansTyres.Frontends.HealthChecksUI/SeelansTyres.Frontends.HealthChecksUI.csproj
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/SeelansTyres.Frontends.Mvc.csproj
  src/Gateways/MvcBffSolution/SeelansTyres.Gateways.MvcBff/SeelansTyres.Gateways.MvcBff.csproj
  src/Services/AddressServiceSolution/SeelansTyres.Services.AddressService/SeelansTyres.Services.AddressService.csproj
  src/Services/AddressServiceSolution/SeelansTyres.Workers.AddressWorker/SeelansTyres.Workers.AddressWorker.csproj
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/SeelansTyres.Services.IdentityService.csproj
  src/Services/OrderServiceSolution/SeelansTyres.Services.OrderService/SeelansTyres.Services.OrderService.csproj
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/SeelansTyres.Workers.OrderWorker.csproj
  src/Services/TyresServiceSolution/SeelansTyres.Services.TyresService/SeelansTyres.Services.TyresService.csproj
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

rename the mvcbff project to webbff
  .pipelines/seelanstyres-gateways-webbff.yml
  .pipelines/templates/download-artifacts-and-deploy-infrastructure.yml
  .pipelines/templates/execute-efcore-bundle.yml
  CMakeLists.txt
  azure-pipelines.yml
  cmake/AssemblyInfo/SeelansTyres.Gateways.WebBff.in
  infrastructure/with-bicep/02-environment-specific/08-app-services-low-load/template.bicep
  infrastructure/with-bicep/02-environment-specific/10-app-services-high-load/template.bicep
  infrastructure/with-bicep/02-environment-specific/main.bicep
  infrastructure/with-bicep/02-environment-specific/main.parameters.json
  orchestration/docker-compose/docker-compose-all.yml
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.frontends.healthchecksui.yaml.in
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.frontends.mvc.yaml.in
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.gateways.webbff.yaml.in
  scripts/migrate-databases.cmd
  src/Frontends/HealthChecksUISolution/SeelansTyres.Frontends.HealthChecksUI/appsettings.json
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/HttpClients/CustomerServiceClient.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Program.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/appsettings.json
  src/Gateways/WebBffSolution/SeelansTyres.Gateways.WebBff/.gitignore
  src/Gateways/WebBffSolution/SeelansTyres.Gateways.WebBff/DelegatingHandlers/AddressServiceDelegatingHandler.cs
  src/Gateways/WebBffSolution/SeelansTyres.Gateways.WebBff/DelegatingHandlers/CustomerServiceFullAccessDelegatingHandler.cs
  src/Gateways/WebBffSolution/SeelansTyres.Gateways.WebBff/DelegatingHandlers/OrderServiceDelegatingHandler.cs
  src/Gateways/WebBffSolution/SeelansTyres.Gateways.WebBff/DelegatingHandlers/TyresServiceDelegatingHandler.cs
  src/Gateways/WebBffSolution/SeelansTyres.Gateways.WebBff/Dockerfile
  src/Gateways/WebBffSolution/SeelansTyres.Gateways.WebBff/Extensions/HealthChecksExtensions.cs
  src/Gateways/WebBffSolution/SeelansTyres.Gateways.WebBff/Program.cs
  src/Gateways/WebBffSolution/SeelansTyres.Gateways.WebBff/Properties/launchSettings.json
  src/Gateways/WebBffSolution/SeelansTyres.Gateways.WebBff/SeelansTyres.Gateways.WebBff.csproj
  src/Gateways/WebBffSolution/SeelansTyres.Gateways.WebBff/Services/ITokenExchangeService.cs
  src/Gateways/WebBffSolution/SeelansTyres.Gateways.WebBff/Services/TokenExchangeService.cs
  src/Gateways/WebBffSolution/SeelansTyres.Gateways.WebBff/appsettings.json
  src/SeelansTyres.sln
  src/SeelansTyres.slnLaunch
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Config.cs
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/appsettings.json
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml

readme: remove the mvcbff pipeline and add the webbff one
  .pipelines/templates/execute-efcore-bundle.yml
  README.md
Due: none

replace IdentityModel.AspNetCore with Duende.AccessTokenManagement.OpenIdConnect
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Program.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/SeelansTyres.Frontends.Mvc.csproj
  src/FunctionApps/SystemDegradedTogglerSolution/SeelansTyres.FunctionApps.SystemDegradedToggler/SeelansTyres.FunctionApps.SystemDegradedToggler.csproj
Due: .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-functionapps-systemdegradedtogglersolution.yml

set each application's console title with its descriptive name
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Abstractions/WebApplicationBuilderConfiguration.cs
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

resolve the remaining database migration script issues
  .pipelines/templates/execute-efcore-bundle.yml
  scripts/migrate-databases.cmd
Due: none

mvc frontend: create a new http client for the client credentials auth flow
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/HttpClients/ClientCredentialsAuthenticationClient.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/HttpClients/CustomerServiceClient.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/HttpClients/IClientCredentialsAuthenticationClient.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Program.cs
Due: .pipelines/seelanstyres-frontends-mvcsolution.yml

identity service: ensure tokens coming from client credentials auth flow requires the webbff's scope
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Program.cs
Due: .pipelines/seelanstyres-services-identityservicesolution.yml

identityserver config: rename the SeelansTyresWebBff api resource to WebBff
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/HttpClients/ClientCredentialsAuthenticationClient.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Program.cs
  src/Gateways/WebBffSolution/SeelansTyres.Gateways.WebBff/Program.cs
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Config.cs
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Program.cs
Due: .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml

Path conditions:
  .pipelines/seelanstyres-frontends-healthchecksuisolution.yml: any of: src/Frontends/HealthChecksUISolution, src/Libraries/SharedLibrarySolution
  .pipelines/seelanstyres-frontends-mvcsolution.yml: any of: src/Frontends/MvcSolution, src/Libraries/SharedLibrarySolution
  .pipelines/seelanstyres-functionapps-systemdegradedtogglersolution.yml: any of: src/FunctionApps/SystemDegradedTogglerSolution
  .pipelines/seelanstyres-gateways-mvcbff.yml: any of: src/Gateways/MvcBffSolution, src/Libraries/SharedLibrarySolution
  .pipelines/seelanstyres-services-addressservicesolution.yml: any of: src/Services/AddressServiceSolution, src/Libraries/SharedLibrarySolution
  .pipelines/seelanstyres-services-identityservicesolution.yml: any of: src/Services/IdentityServiceSolution, src/Libraries/SharedLibrarySolution
  .pipelines/seelanstyres-services-orderservicesolution.yml: any of: src/Services/OrderServiceSolution, src/Libraries/SharedLibrarySolution
  .pipelines/seelanstyres-services-tyresservicesolution.yml: any of: src/Services/TyresServiceSolution, src/Libraries/SharedLibrarySolution
