Repository ShaylenReddy42/Seelans-Tyres: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-functionapps-systemdegradedtogglersolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

Path conditions:
  .pipelines/seelanstyres-frontends-healthchecksuisolution.yml: any of: src/Frontends/HealthChecksUISolution, src/Libraries/SharedLibrarySolution
  .pipelines/seelanstyres-frontends-mvcsolution.yml: any of: src/Frontends/MvcSolution, src/Libraries/SharedLibrarySolution
  .pipelines/seelanstyres-functionapps-systemdegradedtogglersolution.yml: any of: src/FunctionApps/SystemDegradedTogglerSolution
  .pipelines/seelanstyres-gateways-mvcbff.yml: any of: src/Gateways/MvcBffSolution, src/Libraries/SharedLibrarySolution
  .pipelines/seelanstyres-services-addressservicesolution.yml: any of: src/Services/AddressServiceSolution, src/Libraries/SharedLibrarySolution
  .pipelines/seelanstyres-services-identityservicesolution.yml: any of: src/Services/IdentityServiceSolution, src/Libraries/SharedLibrarySolution
  .pipelines/seelanstyres-services-orderservicesolution.yml: any of: src/Services/OrderServiceSolution, src/Libraries/SharedLibrarySolution
  .pipelines/seelanstyres-services-tyresservicesolution.yml: any of: src/Services/TyresServiceSolution, src/Libraries/SharedLibrarySolution

update elastic images
  README.md
  orchestration/docker-compose/docker-compose-all.yml
  orchestration/docker-compose/docker-compose-services.yml
  orchestration/kubernetes/03-local-services/elasticsearch.yaml
  orchestration/kubernetes/03-local-services/kibana.yaml
Due: none

ui: use bootstrap's responsive tables
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Views/Account/Index.cshtml
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Views/Admin/Index.cshtml
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Views/Shared/_AdminBrandsTable.cshtml
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Views/Shared/_AdminOrdersTable.cshtml
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Views/Shared/_AdminTyresTable.cshtml
Due: .pipelines/seelanstyres-frontends-mvcsolution.yml

upgrade the IdentityModel nuget package to 6.2.0
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/SeelansTyres.Frontends.Mvc.csproj
  src/Gateways/MvcBffSolution/SeelansTyres.Gateways.MvcBff/SeelansTyres.Gateways.MvcBff.csproj
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/SeelansTyres.Libraries.Shared.csproj
  src/Services/AddressServiceSolution/SeelansTyres.Services.AddressService/SeelansTyres.Services.AddressService.csproj
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/SeelansTyres.Services.IdentityService.csproj
  src/Services/OrderServiceSolution/SeelansTyres.Services.OrderService/SeelansTyres.Services.OrderService.csproj
  src/Services/TyresServiceSolution/SeelansTyres.Services.TyresService/SeelansTyres.Services.TyresService.csproj
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

upgrade the system-degraded toggler to .net 7 isolated
  infrastructure/with-bicep/02-environment-specific/07-function-app/template.bicep
  src/FunctionApps/SystemDegradedTogglerSolution/SeelansTyres.FunctionApps.SystemDegradedToggler/Program.cs
  src/FunctionApps/SystemDegradedTogglerSolution/SeelansTyres.FunctionApps.SystemDegradedToggler/SeelansTyres.FunctionApps.SystemDegradedToggler.csproj
  src/FunctionApps/SystemDegradedTogglerSolution/SeelansTyres.FunctionApps.SystemDegradedToggler/TurnItOn.cs
Due: .pipelines/seelanstyres-functionapps-systemdegradedtogglersolution.yml

system-degraded toggler: match the new project structure 100%
  src/FunctionApps/SystemDegradedTogglerSolution/SeelansTyres.FunctionApps.SystemDegradedToggler/Program.cs
  src/FunctionApps/SystemDegradedTogglerSolution/SeelansTyres.FunctionApps.SystemDegradedToggler/Properties/launchSettings.json
  src/FunctionApps/SystemDegradedTogglerSolution/SeelansTyres.FunctionApps.SystemDegradedToggler/host.json
Due: .pipelines/seelanstyres-functionapps-systemdegradedtogglersolution.yml

attempt to resolve the one code smell
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Quickstart/Account/ExternalController.cs
Due: .pipelines/seelanstyres-services-identityservicesolution.yml

pipelines: include an access token for ipinfo
  .pipelines/templates/download-artifacts-and-deploy-infrastructure.yml
Due: none

attempt to resolve all new detected code smells
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Views/Shared/_Layout.cshtml
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Views/Shopping/Cart.cshtml
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Services/UnpublishedUpdateRepository.cs
  src/Services/AddressServiceSolution/SeelansTyres.Services.AddressService/Controllers/AddressesController.cs
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Quickstart/Account/AccountController.cs
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Services/CustomerService.cs
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Views/Grants/Index.cshtml
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Views/Home/Index.cshtml
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Views/Shared/_ValidationSummary.cshtml
  src/Services/TyresServiceSolution/SeelansTyres.Services.TyresService/Services/TyresRepository.cs
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

update nuget packages and elastic images
  .config/dotnet-tools.json
  .pipelines/templates/build-and-scan-solution.yml
  README.md
  orchestration/docker-compose/docker-compose-all.yml
  orchestration/docker-compose/docker-compose-services.yml
  orchestration/kubernetes/03-local-services/elasticsearch.yaml
  orchestration/kubernetes/03-local-services/kibana.yaml
  src/FunctionApps/SystemDegradedTogglerSolution/SeelansTyres.FunctionApps.SystemDegradedToggler/SeelansTyres.FunctionApps.SystemDegradedToggler.csproj
  src/Gateways/MvcBffSolution/SeelansTyres.Gateways.MvcBff/SeelansTyres.Gateways.MvcBff.csproj
Due: .pipelines/seelanstyres-functionapps-systemdegradedtogglersolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml

resolve that one code smell
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Views/Shared/_Layout.cshtml
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/appsettings.json
Due: .pipelines/seelanstyres-frontends-mvcsolution.yml

update nuget packages
  .pipelines/templates/build-and-scan-solution.yml
  README.md
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/libman.json
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/lib/jquery-validation/dist/additional-methods.js
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/lib/jquery-validation/dist/additional-methods.min.js
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/lib/jquery-validation/dist/jquery.validate.js
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/lib/jquery-validation/dist/jquery.validate.min.js
  src/FunctionApps/SystemDegradedTogglerSolution/SeelansTyres.FunctionApps.SystemDegradedToggler/SeelansTyres.FunctionApps.SystemDegradedToggler.csproj
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/SeelansTyres.Libraries.Shared.csproj
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-functionapps-systemdegradedtogglersolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

modify apis to allow for xml comments to be included in swagger
  .gitignore
  src/FunctionApps/SystemDegradedTogglerSolution/SeelansTyres.FunctionApps.SystemDegradedToggler/SeelansTyres.FunctionApps.SystemDegradedToggler.csproj
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Swagger.cs
  src/Services/AddressServiceSolution/SeelansTyres.Services.AddressService/Program.cs
  src/Services/AddressServiceSolution/SeelansTyres.Services.AddressService/SeelansTyres.Services.AddressService.csproj
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Program.cs
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/SeelansTyres.Services.IdentityService.csproj
  src/Services/OrderServiceSolution/SeelansTyres.Services.OrderService/Program.cs
  src/Services/OrderServiceSolution/SeelansTyres.Services.OrderService/SeelansTyres.Services.OrderService.csproj
  src/Services/TyresServiceSolution/SeelansTyres.Services.TyresService/Program.cs
  src/Services/TyresServiceSolution/SeelansTyres.Services.TyresService/SeelansTyres.Services.TyresService.csproj
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-functionapps-systemdegradedtogglersolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

add xml docs for the addressescontroller
  src/Services/AddressServiceSolution/SeelansTyres.Services.AddressService/Controllers/AddressesController.cs
  src/Services/AddressServiceSolution/SeelansTyres.Services.AddressService/Program.cs
Due: .pipelines/seelanstyres-services-addressservicesolution.yml

add xml docs for the orderscontroller
  src/Services/OrderServiceSolution/SeelansTyres.Services.OrderService/Controllers/OrdersController.cs
  src/Services/OrderServiceSolution/SeelansTyres.Services.OrderService/Program.cs
Due: .pipelines/seelanstyres-services-orderservicesolution.yml

add xml docs for the brands and tyres controllers
  src/Services/TyresServiceSolution/SeelansTyres.Services.TyresService/Controllers/BrandsController.cs
  src/Services/TyresServiceSolution/SeelansTyres.Services.TyresService/Controllers/TyresController.cs
  src/Services/TyresServiceSolution/SeelansTyres.Services.TyresService/Program.cs
Due: .pipelines/seelanstyres-services-tyresservicesolution.yml

add xml docs for the customerscontroller
  README.md
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Controllers/Api/CustomersController.cs
  src/Services/OrderServiceSolution/SeelansTyres.Services.OrderService/Controllers/OrdersController.cs
Due: .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml

begin to make the shared library's folder structure more meaningful
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Abstractions/Messaging/AzureServiceBus.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Abstractions/Messaging/RabbitMQ.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Services/RabbitMQPublisher.cs
  src/Services/AddressServiceSolution/SeelansTyres.Workers.AddressWorker/BackgroundServices/DeleteAccountWorkerWithAzureServiceBus.cs
  src/Services/AddressServiceSolution/SeelansTyres.Workers.AddressWorker/BackgroundServices/DeleteAccountWorkerWithRabbitMQ.cs
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/BackgroundServices/DeleteAccountWorkerWithAzureServiceBus.cs
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/BackgroundServices/DeleteAccountWorkerWithRabbitMQ.cs
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/BackgroundServices/UpdateAccountWorkerWithAzureServiceBus.cs
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/BackgroundServices/UpdateAccountWorkerWithRabbitMQ.cs
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/BackgroundServices/UpdateTyreWorkerWithAzureServiceBus.cs
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/BackgroundServices/UpdateTyreWorkerWithRabbitMQ.cs
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

move the Database and HealthChecks abstractions into the Abstractions folder
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Program.cs
  src/Gateways/MvcBffSolution/SeelansTyres.Gateways.MvcBff/Program.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Abstractions/Database.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Abstractions/HealthChecks.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/WebApplicationBuilderConfiguration.cs
  src/Services/AddressServiceSolution/SeelansTyres.Services.AddressService/Program.cs
  src/Services/AddressServiceSolution/SeelansTyres.Workers.AddressWorker/Program.cs
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Extensions/DatabaseMigrationExtensions.cs
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Program.cs
  src/Services/OrderServiceSolution/SeelansTyres.Services.OrderService/Program.cs
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/Program.cs
  src/Services/TyresServiceSolution/SeelansTyres.Services.TyresService/Program.cs
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

move DistributedTracing abstactions to the Abstractions folder
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/BackgroundServices/SendReceiptChannelReaderBackgroundService.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Abstractions/DistributedTracing.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/BackgroundServices/PublishUpdateChannelReaderBackgroundService.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/BackgroundServices/RetryUnpublishedUpdatesWorker.cs
  src/Services/AddressServiceSolution/SeelansTyres.Workers.AddressWorker/BackgroundServices/DeleteAccountWorkerWithAzureServiceBus.cs
  src/Services/AddressServiceSolution/SeelansTyres.Workers.AddressWorker/BackgroundServices/DeleteAccountWorkerWithRabbitMQ.cs
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/BackgroundServices/DeleteAccountWorkerWithAzureServiceBus.cs
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/BackgroundServices/DeleteAccountWorkerWithRabbitMQ.cs
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/BackgroundServices/UpdateAccountWorkerWithAzureServiceBus.cs
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/BackgroundServices/UpdateAccountWorkerWithRabbitMQ.cs
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/BackgroundServices/UpdateTyreWorkerWithAzureServiceBus.cs
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/BackgroundServices/UpdateTyreWorkerWithRabbitMQ.cs
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

update nuget packages
  .pipelines/templates/build-and-scan-solution.yml
  README.md
  orchestration/docker-compose/docker-compose-all.yml
  orchestration/docker-compose/docker-compose-services.yml
  orchestration/kubernetes/03-local-services/elasticsearch.yaml
  orchestration/kubernetes/03-local-services/kibana.yaml
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/SeelansTyres.Frontends.Mvc.csproj
  src/FunctionApps/SystemDegradedTogglerSolution/SeelansTyres.FunctionApps.SystemDegradedToggler/SeelansTyres.FunctionApps.SystemDegradedToggler.csproj
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/SeelansTyres.Libraries.Shared.csproj
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-functionapps-systemdegradedtogglersolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

move the remaining abstractions into the Abstractions folder
  src/Frontends/HealthChecksUISolution/SeelansTyres.Frontends.HealthChecksUI/Program.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Program.cs
  src/Gateways/MvcBffSolution/SeelansTyres.Gateways.MvcBff/Program.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Abstractions/CookiePolicy.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Abstractions/HttpClientResiliency.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Abstractions/Logging.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Abstractions/ReverseProxy.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Abstractions/Swagger.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Abstractions/WebApplicationBuilderConfiguration.cs
  src/Services/AddressServiceSolution/SeelansTyres.Services.AddressService/Program.cs
  src/Services/AddressServiceSolution/SeelansTyres.Workers.AddressWorker/Program.cs
  src/Services/OrderServiceSolution/SeelansTyres.Services.OrderService/Program.cs
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/Program.cs
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

move the token validation service into an HttpClients folder
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Extensions/BaseMessageExtensions.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/HttpClients/ITokenValidationService.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/HttpClients/TokenValidationService.cs
  src/Services/AddressServiceSolution/SeelansTyres.Workers.AddressWorker/BackgroundServices/DeleteAccountWorkerWithAzureServiceBus.cs
  src/Services/AddressServiceSolution/SeelansTyres.Workers.AddressWorker/BackgroundServices/DeleteAccountWorkerWithRabbitMQ.cs
  src/Services/AddressServiceSolution/SeelansTyres.Workers.AddressWorker/Program.cs
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/BackgroundServices/DeleteAccountWorkerWithAzureServiceBus.cs
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/BackgroundServices/DeleteAccountWorkerWithRabbitMQ.cs
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/BackgroundServices/UpdateAccountWorkerWithAzureServiceBus.cs
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/BackgroundServices/UpdateAccountWorkerWithRabbitMQ.cs
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/BackgroundServices/UpdateTyreWorkerWithAzureServiceBus.cs
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/BackgroundServices/UpdateTyreWorkerWithRabbitMQ.cs
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/Program.cs
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

consolidate the unpublished updates management feature into a dedicated folder
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/DbContexts/UnpublishedUpdateDbContext.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Migrations/20221107142039_Initial.Designer.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Migrations/UnpublishedUpdateDbContextModelSnapshot.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/UnpublishedUpdatesManagement/BackgroundServices/PublishUpdateChannelReaderBackgroundService.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/UnpublishedUpdatesManagement/BackgroundServices/RetryUnpublishedUpdatesWorker.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/UnpublishedUpdatesManagement/Channels/PublishUpdateChannel.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/UnpublishedUpdatesManagement/Data/Entities/UnpublishedUpdate.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/UnpublishedUpdatesManagement/Data/UnpublishedUpdateDbContext.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/UnpublishedUpdatesManagement/DependencyInjection.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/UnpublishedUpdatesManagement/Repositories/IUnpublishedUpdateRepository.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/UnpublishedUpdatesManagement/Repositories/UnpublishedUpdateRepository.cs
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Controllers/Api/CustomersController.cs
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Extensions/DatabaseMigrationExtensions.cs
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Program.cs
  src/Services/TyresServiceSolution/SeelansTyres.Services.TyresService/Controllers/TyresController.cs
  src/Services/TyresServiceSolution/SeelansTyres.Services.TyresService/Program.cs
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

move the BaseMessage and IMessagePublisher into the unpublished updates management folder
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Abstractions/DistributedTracing.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Extensions/BaseMessageExtensions.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/HttpClients/ITokenValidationService.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/HttpClients/TokenValidationService.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Services/AzureServiceBusPublisher.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Services/RabbitMQPublisher.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/UnpublishedUpdatesManagement/BackgroundServices/PublishUpdateChannelReaderBackgroundService.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/UnpublishedUpdatesManagement/BackgroundServices/RetryUnpublishedUpdatesWorker.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/UnpublishedUpdatesManagement/Channels/PublishUpdateChannel.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/UnpublishedUpdatesManagement/DependencyInjection.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/UnpublishedUpdatesManagement/Messages/BaseMessage.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/UnpublishedUpdatesManagement/Services/IMessagePublisher.cs
  src/Services/AddressServiceSolution/SeelansTyres.Workers.AddressWorker/BackgroundServices/DeleteAccountWorkerWithAzureServiceBus.cs
  src/Services/AddressServiceSolution/SeelansTyres.Workers.AddressWorker/BackgroundServices/DeleteAccountWorkerWithRabbitMQ.cs
  src/Services/AddressServiceSolution/SeelansTyres.Workers.AddressWorker/Services/AddressUpdateService.cs
  src/Services/AddressServiceSolution/SeelansTyres.Workers.AddressWorker/Services/IAddressUpdateService.cs
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Controllers/Api/CustomersController.cs
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/BackgroundServices/DeleteAccountWorkerWithAzureServiceBus.cs
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/BackgroundServices/DeleteAccountWorkerWithRabbitMQ.cs
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/BackgroundServices/UpdateAccountWorkerWithAzureServiceBus.cs
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/BackgroundServices/UpdateAccountWorkerWithRabbitMQ.cs
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/BackgroundServices/UpdateTyreWorkerWithAzureServiceBus.cs
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/BackgroundServices/UpdateTyreWorkerWithRabbitMQ.cs
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/Services/IOrderUpdateService.cs
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/Services/OrderUpdateService.cs
  src/Services/TyresServiceSolution/SeelansTyres.Services.TyresService/Controllers/TyresController.cs
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

bring more independence to the unpublished updates management solution
  src/Libraries/UnpublishedUpdatesManagementSolution/ShaylenReddy42.UnpublishedUpdatesManagement/Abstractions/DatabaseMigration.cs
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Extensions/DatabaseMigrationExtensions.cs
  src/Services/TyresServiceSolution/SeelansTyres.Services.TyresService/Program.cs
Due: .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

slightly improve the xml docs regarding the unpublished updates management feature
  src/Libraries/UnpublishedUpdatesManagementSolution/ShaylenReddy42.UnpublishedUpdatesManagement/Abstractions/DatabaseMigration.cs
  src/Libraries/UnpublishedUpdatesManagementSolution/ShaylenReddy42.UnpublishedUpdatesManagement/Abstractions/DistributedTracing.cs
  src/Libraries/UnpublishedUpdatesManagementSolution/ShaylenReddy42.UnpublishedUpdatesManagement/BackgroundServices/PublishUpdateChannelReaderBackgroundService.cs
  src/Libraries/UnpublishedUpdatesManagementSolution/ShaylenReddy42.UnpublishedUpdatesManagement/Data/Entities/UnpublishedUpdate.cs
  src/Libraries/UnpublishedUpdatesManagementSolution/ShaylenReddy42.UnpublishedUpdatesManagement/Data/UnpublishedUpdateDbContext.cs
  src/Libraries/UnpublishedUpdatesManagementSolution/ShaylenReddy42.UnpublishedUpdatesManagement/DependencyInjection.cs
  src/Libraries/UnpublishedUpdatesManagementSolution/ShaylenReddy42.UnpublishedUpdatesManagement/Messages/BaseMessage.cs
Due: none

slightly adjust the xml docs for the unpublished update entity
  src/Libraries/UnpublishedUpdatesManagementSolution/ShaylenReddy42.UnpublishedUpdatesManagement/Data/Entities/UnpublishedUpdate.cs
  src/Libraries/UnpublishedUpdatesManagementSolution/ShaylenReddy42.UnpublishedUpdatesManagement/Messages/BaseMessage.cs
Due: none

change the datatype of "IdOfEntityToUpdate" from guid to string in the BaseMessage
  src/Libraries/UnpublishedUpdatesManagementSolution/ShaylenReddy42.UnpublishedUpdatesManagement/Messages/BaseMessage.cs
  src/Services/AddressServiceSolution/SeelansTyres.Workers.AddressWorker/Services/AddressUpdateService.cs
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Controllers/Api/CustomersController.cs
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/Services/OrderUpdateService.cs
  src/Services/TyresServiceSolution/SeelansTyres.Services.TyresService/Controllers/TyresController.cs
Due: .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

expose problem details in the problem details middleware
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Abstractions/ReverseProxy.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/SeelansTyres.Libraries.Shared.csproj
  src/Services/AddressServiceSolution/SeelansTyres.Services.AddressService/Program.cs
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Program.cs
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/SeelansTyres.Services.IdentityService.csproj
  src/Services/OrderServiceSolution/SeelansTyres.Services.OrderService/Program.cs
  src/Services/TyresServiceSolution/SeelansTyres.Services.TyresService/Program.cs
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

introduce the unpublished updates management solution file
  src/Frontends/HealthChecksUISolution/SeelansTyres.Frontends.HealthChecksUI/SeelansTyres.Frontends.HealthChecksUI.csproj
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/SeelansTyres.Frontends.Mvc.csproj
  src/FunctionApps/SystemDegradedTogglerSolution/SeelansTyres.FunctionApps.SystemDegradedToggler/SeelansTyres.FunctionApps.SystemDegradedToggler.csproj
  src/Gateways/MvcBffSolution/SeelansTyres.Gateways.MvcBff/SeelansTyres.Gateways.MvcBff.csproj
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/SeelansTyres.Libraries.Shared.csproj
  src/Libraries/UnpublishedUpdatesManagementSolution/ShaylenReddy42.UnpublishedUpdatesManagement.sln
  src/Libraries/UnpublishedUpdatesManagementSolution/ShaylenReddy42.UnpublishedUpdatesManagement/ShaylenReddy42.UnpublishedUpdatesManagement.csproj
  src/Services/AddressServiceSolution/SeelansTyres.Data.AddressData/SeelansTyres.Data.AddressData.csproj
  src/Services/AddressServiceSolution/SeelansTyres.Models.AddressModels/SeelansTyres.Models.AddressModels.csproj
  src/Services/AddressServiceSolution/SeelansTyres.Services.AddressService/SeelansTyres.Services.AddressService.csproj
  src/Services/AddressServiceSolution/SeelansTyres.Workers.AddressWorker/SeelansTyres.Workers.AddressWorker.csproj
  src/Services/IdentityServiceSolution/SeelansTyres.Models.IdentityModels/SeelansTyres.Models.IdentityModels.csproj
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/SeelansTyres.Services.IdentityService.csproj
  src/Services/OrderServiceSolution/SeelansTyres.Data.OrderData/SeelansTyres.Data.OrderData.csproj
  src/Services/OrderServiceSolution/SeelansTyres.Models.OrderModels/SeelansTyres.Models.OrderModels.csproj
  src/Services/OrderServiceSolution/SeelansTyres.Services.OrderService/SeelansTyres.Services.OrderService.csproj
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/SeelansTyres.Workers.OrderWorker.csproj
  src/Services/TyresServiceSolution/SeelansTyres.Models.TyresModels/SeelansTyres.Models.TyresModels.csproj
  src/Services/TyresServiceSolution/SeelansTyres.Services.TyresService/SeelansTyres.Services.TyresService.csproj
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-functionapps-systemdegradedtogglersolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

update copyright to 2024
  COPYING
Due: none

drastically improve the build time for all docker images
  README.md
  src/Frontends/HealthChecksUISolution/SeelansTyres.Frontends.HealthChecksUI/Dockerfile
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Dockerfile
  src/Gateways/MvcBffSolution/SeelansTyres.Gateways.MvcBff/Dockerfile
  src/Services/AddressServiceSolution/SeelansTyres.Services.AddressService/Dockerfile
  src/Services/AddressServiceSolution/SeelansTyres.Workers.AddressWorker/Dockerfile
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Dockerfile
  src/Services/OrderServiceSolution/SeelansTyres.Services.OrderService/Dockerfile
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/Dockerfile
  src/Services/TyresServiceSolution/SeelansTyres.Services.TyresService/Dockerfile
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

resolve new code smells detected by sonarcloud
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Controllers/AccountController.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Controllers/ShoppingController.cs
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Quickstart/Account/AccountController.cs
Due: .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml

pipelines: update dotnet sdks
  .pipelines/templates/build-and-scan-solution.yml
  README.md
Due: none

update nuget packages
  src/Frontends/HealthChecksUISolution/SeelansTyres.Frontends.HealthChecksUI/SeelansTyres.Frontends.HealthChecksUI.csproj
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/SeelansTyres.Frontends.Mvc.csproj
  src/FunctionApps/SystemDegradedTogglerSolution/SeelansTyres.FunctionApps.SystemDegradedToggler/SeelansTyres.FunctionApps.SystemDegradedToggler.csproj
  src/Gateways/MvcBffSolution/SeelansTyres.Gateways.MvcBff/SeelansTyres.Gateways.MvcBff.csproj
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/SeelansTyres.Libraries.Shared.csproj
  src/Services/AddressServiceSolution/SeelansTyres.Data.AddressData/SeelansTyres.Data.AddressData.csproj
  src/Services/AddressServiceSolution/SeelansTyres.Services.AddressService/SeelansTyres.Services.AddressService.csproj
  src/Services/AddressServiceSolution/SeelansTyres.Workers.AddressWorker/SeelansTyres.Workers.AddressWorker.csproj
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/SeelansTyres.Services.IdentityService.csproj
  src/Services/OrderServiceSolution/SeelansTyres.Data.OrderData/SeelansTyres.Data.OrderData.csproj
  src/Services/OrderServiceSolution/SeelansTyres.Services.OrderService/SeelansTyres.Services.OrderService.csproj
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/SeelansTyres.Workers.OrderWorker.csproj
  src/Services/TyresServiceSolution/SeelansTyres.Services.TyresService/SeelansTyres.Services.TyresService.csproj
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-functionapps-systemdegradedtogglersolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml
