Repository ShaylenReddy42/Seelans-Tyres: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-functionapps-systemdegradedtogglersolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

.pipelines/seelanstyres-frontends-healthchecksuisolution.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build_HealthChecksUISolution
      pool: Default
      cancelTimeoutInMinutes: 2
      steps:
      - template: templates/build-and-scan-solution.yml
      - template: templates/publish-project.yml
        parameters:
          solutionFolder: Frontends
  ...

.pipelines/seelanstyres-frontends-mvcsolution.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build_MvcSolution
      pool: Default
      cancelTimeoutInMinutes: 2
      steps:
      - template: templates/build-and-scan-solution.yml
      - template: templates/publish-project.yml
        parameters:
          solutionFolder: Frontends
  ...

.pipelines/seelanstyres-functionapps-systemdegradedtogglersolution.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build_SystemDegradedTogglerSolution
      pool: Default
      cancelTimeoutInMinutes: 2
      steps:
      - template: templates/build-and-scan-solution.yml
      - template: templates/publish-project.yml
        parameters:
          solutionFolder: FunctionApps
  ...

.pipelines/seelanstyres-gateways-mvcbff.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build_MvcBffSolution
      pool: Default
      cancelTimeoutInMinutes: 2
      steps:
      - template: templates/build-and-scan-solution.yml
      - template: templates/publish-project.yml
        parameters:
          solutionFolder: Gateways
  ...

.pipelines/seelanstyres-services-addressservicesolution.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build_AddressServiceSolution
      pool: Default
      cancelTimeoutInMinutes: 2
      steps:
      - template: templates/build-and-scan-solution.yml
      - template: templates/create-efcore-bundle.yml
        parameters:
  ...

.pipelines/seelanstyres-services-identityservicesolution.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build_IdentityServiceSolution
      pool: Default
      cancelTimeoutInMinutes: 2
      steps:
      - template: templates/build-and-scan-solution.yml
      - template: templates/publish-project.yml
        parameters:
          solutionFolder: Services
  ...

.pipelines/seelanstyres-services-orderservicesolution.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build_OrderServiceSolution
      pool: Default
      cancelTimeoutInMinutes: 2
      steps:
      - template: templates/build-and-scan-solution.yml
      - template: templates/create-efcore-bundle.yml
        parameters:
          solutionSubfolder: OrderServiceSolution
  ...

.pipelines/seelanstyres-services-tyresservicesolution.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build_TyresServiceSolution
      pool: Default
      cancelTimeoutInMinutes: 2
      steps:
      - template: templates/build-and-scan-solution.yml
      - template: templates/create-efcore-bundle.yml
        parameters:
          solutionSubfolder: TyresServiceSolution
  ...

readme: correct the versions of .net the project is built on
  README.md
Due: none

logs: adjust the log levels around getting a cart
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Components/ShoppingCartSummary.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Services/CartService.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Services/DistributedCacheService.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Services/InMemoryCacheService.cs
Due: .pipelines/seelanstyres-frontends-mvcsolution.yml

logs: consolidate three log entries into one for retrieving customer's data
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Controllers/AccountController.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/SeelansTyres.Libraries.Shared.csproj
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

take advantage of .net 8's short circuits for the mvcbff to map health check endpoints like normal
  src/Gateways/MvcBffSolution/SeelansTyres.Gateways.MvcBff/Program.cs
Due: .pipelines/seelanstyres-gateways-mvcbff.yml

resolve the async issue around the shopping cart summary view component
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Components/ShoppingCartSummary.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Views/Shared/_Layout.cshtml
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Views/_ViewImports.cshtml
Due: .pipelines/seelanstyres-frontends-mvcsolution.yml

change the port the gateway is running on to 7050
  CMakeLists.txt
  orchestration/docker-compose/docker-compose-all.yml
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.frontends.healthchecksui.yaml.in
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.frontends.mvc.yaml.in
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.gateways.mvcbff.yaml.in
  src/Frontends/HealthChecksUISolution/SeelansTyres.Frontends.HealthChecksUI/appsettings.json
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/appsettings.json
  src/Gateways/MvcBffSolution/SeelansTyres.Gateways.MvcBff/Properties/launchSettings.json
  src/Gateways/MvcBffSolution/SeelansTyres.Gateways.MvcBff/appsettings.json
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml

slightly improve on the retry unpublished updates worker
  src/Libraries/UnpublishedUpdatesManagementSolution/ShaylenReddy42.UnpublishedUpdatesManagement/BackgroundServices/RetryUnpublishedUpdatesWorker.cs
Due: none

pipelines: use .net sdk 8.0.201
  .pipelines/templates/build-and-scan-solution.yml
  README.md
Due: none

cmake: introduce the current git branch as part of assembly metadata
  CMakeLists.txt
  cmake/AssemblyInfo/SeelansTyres.Data.AddressData.in
  cmake/AssemblyInfo/SeelansTyres.Data.OrderData.in
  cmake/AssemblyInfo/SeelansTyres.Frontends.HealthChecksUI.in
  cmake/AssemblyInfo/SeelansTyres.Frontends.Mvc.in
  cmake/AssemblyInfo/SeelansTyres.FunctionApps.SystemDegradedToggler.in
  cmake/AssemblyInfo/SeelansTyres.Gateways.MvcBff.in
  cmake/AssemblyInfo/SeelansTyres.Libraries.Shared.in
  cmake/AssemblyInfo/SeelansTyres.Models.AddressModels.in
  cmake/AssemblyInfo/SeelansTyres.Models.IdentityModels.in
  cmake/AssemblyInfo/SeelansTyres.Models.OrderModels.in
  cmake/AssemblyInfo/SeelansTyres.Models.TyresModels.in
  cmake/AssemblyInfo/SeelansTyres.Services.AddressService.in
  cmake/AssemblyInfo/SeelansTyres.Services.IdentityService.in
  cmake/AssemblyInfo/SeelansTyres.Services.OrderService.in
  cmake/AssemblyInfo/SeelansTyres.Services.TyresService.in
  cmake/AssemblyInfo/SeelansTyres.Workers.AddressWorker.in
  cmake/AssemblyInfo/SeelansTyres.Workers.OrderWorker.in
  cmake/AssemblyInfo/ShaylenReddy42.UnpublishedUpdatesManagement.in
Due: none

resolve vulnerabilities detected in docker
  src/Frontends/HealthChecksUISolution/SeelansTyres.Frontends.HealthChecksUI/SeelansTyres.Frontends.HealthChecksUI.csproj
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/SeelansTyres.Frontends.Mvc.csproj
  src/Gateways/MvcBffSolution/SeelansTyres.Gateways.MvcBff/SeelansTyres.Gateways.MvcBff.csproj
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml

switch out AutoMapper.Extensions.Microsoft.DependencyInjection with AutoMapper where possible
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/SeelansTyres.Frontends.Mvc.csproj
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/SeelansTyres.Libraries.Shared.csproj
  src/Services/AddressServiceSolution/SeelansTyres.Services.AddressService/SeelansTyres.Services.AddressService.csproj
  src/Services/OrderServiceSolution/SeelansTyres.Services.OrderService/SeelansTyres.Services.OrderService.csproj
  src/Services/TyresServiceSolution/SeelansTyres.Services.TyresService/SeelansTyres.Services.TyresService.csproj
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

change the base message's creation time to be a DateTimeOffset
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/HttpClients/TokenValidationService.cs
  src/Libraries/UnpublishedUpdatesManagementSolution/ShaylenReddy42.UnpublishedUpdatesManagement/Messages/BaseMessage.cs
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

readme: add a new upskilling resource
  README.md
Due: none

update nuget packages
  .config/dotnet-tools.json
  .pipelines/templates/build-and-scan-solution.yml
  README.md
  src/Frontends/HealthChecksUISolution/SeelansTyres.Frontends.HealthChecksUI/SeelansTyres.Frontends.HealthChecksUI.csproj
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/SeelansTyres.Frontends.Mvc.csproj
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/libman.json
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/lib/bootstrap/LICENSE
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/lib/bootstrap/README.md
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css.map
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js.map
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/lib/fortawesome/fontawesome-free/css/all.css
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/lib/fortawesome/fontawesome-free/css/brands.css
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/lib/fortawesome/fontawesome-free/css/brands.min.css
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/lib/fortawesome/fontawesome-free/css/fontawesome.css
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/lib/fortawesome/fontawesome-free/css/fontawesome.min.css
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/lib/fortawesome/fontawesome-free/css/regular.css
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/lib/fortawesome/fontawesome-free/css/regular.min.css
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/lib/fortawesome/fontawesome-free/css/solid.css
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/lib/fortawesome/fontawesome-free/css/solid.min.css
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/lib/fortawesome/fontawesome-free/css/svg-with-js.css
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/lib/fortawesome/fontawesome-free/css/svg-with-js.min.css
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/lib/fortawesome/fontawesome-free/css/v4-font-face.css
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/lib/fortawesome/fontawesome-free/css/v4-font-face.min.css
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/lib/fortawesome/fontawesome-free/css/v4-shims.css
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/lib/fortawesome/fontawesome-free/css/v4-shims.min.css
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/lib/fortawesome/fontawesome-free/css/v5-font-face.css
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/lib/fortawesome/fontawesome-free/css/v5-font-face.min.css
  src/FunctionApps/SystemDegradedTogglerSolution/SeelansTyres.FunctionApps.SystemDegradedToggler/SeelansTyres.FunctionApps.SystemDegradedToggler.csproj
  src/Gateways/MvcBffSolution/SeelansTyres.Gateways.MvcBff/SeelansTyres.Gateways.MvcBff.csproj
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/SeelansTyres.Libraries.Shared.csproj
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/libman.json
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/wwwroot/lib/bootstrap/LICENSE
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/wwwroot/lib/bootstrap/README.md
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css.map
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js.map
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-functionapps-systemdegradedtogglersolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

fix mark order as delivered and mark address as preferred
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/HttpClients/AddressServiceClient.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/HttpClients/OrderServiceClient.cs
Due: .pipelines/seelanstyres-frontends-mvcsolution.yml

capitalize "annoucement" in the logging templates
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Controllers/AccountController.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Controllers/AdminController.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Controllers/ShoppingController.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Extensions/CryptographyExtensions.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/HttpClients/AddressServiceClient.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/HttpClients/CustomerServiceClient.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/HttpClients/OrderServiceClient.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/HttpClients/TyresServiceClient.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Services/CloudImageService.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Services/LocalImageService.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Services/MailService.cs
  src/Gateways/MvcBffSolution/SeelansTyres.Gateways.MvcBff/DelegatingHandlers/AddressServiceDelegatingHandler.cs
  src/Gateways/MvcBffSolution/SeelansTyres.Gateways.MvcBff/DelegatingHandlers/CustomerServiceFullAccessDelegatingHandler.cs
  src/Gateways/MvcBffSolution/SeelansTyres.Gateways.MvcBff/DelegatingHandlers/OrderServiceDelegatingHandler.cs
  src/Gateways/MvcBffSolution/SeelansTyres.Gateways.MvcBff/DelegatingHandlers/TyresServiceDelegatingHandler.cs
  src/Gateways/MvcBffSolution/SeelansTyres.Gateways.MvcBff/Services/TokenExchangeService.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Abstractions/Database.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Abstractions/Messaging/AzureServiceBus.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Authorization/CustomerIdFromClaimsMustMatchCustomerIdFromRouteHandler.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Extensions/BaseMessageExtensions.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/HttpClients/TokenValidationService.cs
  src/Libraries/UnpublishedUpdatesManagementSolution/ShaylenReddy42.UnpublishedUpdatesManagement/Abstractions/DatabaseMigration.cs
  src/Libraries/UnpublishedUpdatesManagementSolution/ShaylenReddy42.UnpublishedUpdatesManagement/BackgroundServices/PublishUpdateChannelReaderBackgroundService.cs
  src/Libraries/UnpublishedUpdatesManagementSolution/ShaylenReddy42.UnpublishedUpdatesManagement/Repositories/UnpublishedUpdateRepository.cs
  src/Services/AddressServiceSolution/SeelansTyres.Services.AddressService/Controllers/AddressesController.cs
  src/Services/AddressServiceSolution/SeelansTyres.Services.AddressService/Services/AddressRepository.cs
  src/Services/AddressServiceSolution/SeelansTyres.Workers.AddressWorker/Services/AddressUpdateService.cs
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Controllers/Api/CustomersController.cs
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Extensions/CryptographyExtensions.cs
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Services/AdminAccountSeeder.cs
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Services/ConfigurationDataSeeder.cs
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Services/CustomerService.cs
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Services/TokenExchangeExtensionGrantValidator.cs
  src/Services/OrderServiceSolution/SeelansTyres.Services.OrderService/Authorization/MustSatisfyOrderRetrievalRulesHandler.cs
  src/Services/OrderServiceSolution/SeelansTyres.Services.OrderService/Controllers/OrdersController.cs
  src/Services/OrderServiceSolution/SeelansTyres.Services.OrderService/Services/OrderRepository.cs
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/Services/OrderUpdateService.cs
  src/Services/TyresServiceSolution/SeelansTyres.Services.TyresService/Controllers/TyresController.cs
  src/Services/TyresServiceSolution/SeelansTyres.Services.TyresService/Services/TyresRepository.cs
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

resolve some code smells detected by sonarcloud
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/HttpClients/AddressServiceClient.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/HttpClients/CustomerServiceClient.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/HttpClients/OrderServiceClient.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/HttpClients/TyresServiceClient.cs
Due: .pipelines/seelanstyres-frontends-mvcsolution.yml

resolve the new mistakes i've just made 😐
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/HttpClients/OrderServiceClient.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/HttpClients/TyresServiceClient.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Views/Shared/_TyreShopItem.cshtml
Due: .pipelines/seelanstyres-frontends-mvcsolution.yml

update nuget packages
  .config/dotnet-tools.json
  .pipelines/templates/build-and-scan-solution.yml
  README.md
  orchestration/docker-compose/docker-compose-all.yml
  orchestration/docker-compose/docker-compose-services.yml
  orchestration/kubernetes/03-local-services/elasticsearch.yaml
  orchestration/kubernetes/03-local-services/kibana.yaml
  scripts/pull-required-docker-images.cmd
  src/Frontends/HealthChecksUISolution/SeelansTyres.Frontends.HealthChecksUI/SeelansTyres.Frontends.HealthChecksUI.csproj
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/SeelansTyres.Frontends.Mvc.csproj
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/libman.json
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/lib/fortawesome/fontawesome-free/LICENSE.txt
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/lib/fortawesome/fontawesome-free/css/all.min.css
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/lib/fortawesome/fontawesome-free/webfonts/fa-brands-400.ttf
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/lib/fortawesome/fontawesome-free/webfonts/fa-brands-400.woff2
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/lib/fortawesome/fontawesome-free/webfonts/fa-regular-400.ttf
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/lib/fortawesome/fontawesome-free/webfonts/fa-regular-400.woff2
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/lib/fortawesome/fontawesome-free/webfonts/fa-solid-900.ttf
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/lib/fortawesome/fontawesome-free/webfonts/fa-solid-900.woff2
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/lib/fortawesome/fontawesome-free/webfonts/fa-v4compatibility.ttf
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/lib/fortawesome/fontawesome-free/webfonts/fa-v4compatibility.woff2
  src/FunctionApps/SystemDegradedTogglerSolution/SeelansTyres.FunctionApps.SystemDegradedToggler/SeelansTyres.FunctionApps.SystemDegradedToggler.csproj
  src/Gateways/MvcBffSolution/SeelansTyres.Gateways.MvcBff/SeelansTyres.Gateways.MvcBff.csproj
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/SeelansTyres.Libraries.Shared.csproj
  src/Services/AddressServiceSolution/SeelansTyres.Services.AddressService/SeelansTyres.Services.AddressService.csproj
  src/Services/AddressServiceSolution/SeelansTyres.Workers.AddressWorker/SeelansTyres.Workers.AddressWorker.csproj
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/SeelansTyres.Services.IdentityService.csproj
  src/Services/OrderServiceSolution/SeelansTyres.Services.OrderService/SeelansTyres.Services.OrderService.csproj
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/SeelansTyres.Workers.OrderWorker.csproj
  src/Services/TyresServiceSolution/SeelansTyres.Services.TyresService/SeelansTyres.Services.TyresService.csproj
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-functionapps-systemdegradedtogglersolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

hmm, seems i missed some ..
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/HttpClients/CustomerServiceClient.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/ViewModels/AdminPortalViewModel.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Abstractions/Database.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Abstractions/HttpClientResiliency.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Extensions/WebApplicationExtensions.cs
  src/Services/AddressServiceSolution/SeelansTyres.Services.AddressService/Services/AddressRepository.cs
  src/Services/OrderServiceSolution/SeelansTyres.Data.OrderData/Entities/Order.cs
  src/Services/OrderServiceSolution/SeelansTyres.Models.OrderModels/V1_0_0/OrderModel.cs
  src/Services/OrderServiceSolution/SeelansTyres.Services.OrderService/Services/OrderRepository.cs
  src/Services/TyresServiceSolution/SeelansTyres.Services.TyresService/Data/Entities/Brand.cs
  src/Services/TyresServiceSolution/SeelansTyres.Services.TyresService/Services/TyresRepository.cs
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

logs: start reducing the number of log entries or dropping them by a log level
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Controllers/AccountController.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Controllers/AdminController.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Controllers/ShoppingController.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Extensions/CryptographyExtensions.cs
  src/Gateways/MvcBffSolution/SeelansTyres.Gateways.MvcBff/Services/TokenExchangeService.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Authorization/CustomerIdFromClaimsMustMatchCustomerIdFromRouteHandler.cs
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

logs: perform more log reduction and cleanup
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Controllers/AccountController.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Extensions/CryptographyExtensions.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Services/CloudImageService.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Services/LocalImageService.cs
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Controllers/Api/CustomersController.cs
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Extensions/CryptographyExtensions.cs
  src/Services/TyresServiceSolution/SeelansTyres.Services.TyresService/Controllers/TyresController.cs
  src/Services/TyresServiceSolution/SeelansTyres.Services.TyresService/Data/TyresDbContext.cs
Due: .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

oops, fixed the customerId repetition in the wrong way
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Controllers/AccountController.cs
Due: .pipelines/seelanstyres-frontends-mvcsolution.yml

pipelines: remove performMultiLevelLookup from UseDotNet task
  .pipelines/templates/build-and-scan-solution.yml
Due: none

update nuget packages
  .config/dotnet-tools.json
  .pipelines/templates/build-and-scan-solution.yml
  README.md
  orchestration/docker-compose/docker-compose-all.yml
  orchestration/docker-compose/docker-compose-services.yml
  orchestration/kubernetes/03-local-services/elasticsearch.yaml
  orchestration/kubernetes/03-local-services/kibana.yaml
  scripts/pull-required-docker-images.cmd
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/SeelansTyres.Frontends.Mvc.csproj
  src/FunctionApps/SystemDegradedTogglerSolution/SeelansTyres.FunctionApps.SystemDegradedToggler/SeelansTyres.FunctionApps.SystemDegradedToggler.csproj
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/SeelansTyres.Libraries.Shared.csproj
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/SeelansTyres.Services.IdentityService.csproj
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-functionapps-systemdegradedtogglersolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

resolve the position of the cart items badge
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Views/Shared/Components/ShoppingCartSummary/Default.cshtml
Due: .pipelines/seelanstyres-frontends-mvcsolution.yml

attempt to resolve some security vulnerabilities on the account controller
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Controllers/AccountController.cs
Due: .pipelines/seelanstyres-frontends-mvcsolution.yml

resolve the security vulnerabilities on the shopping controller
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Controllers/ShoppingController.cs
Due: .pipelines/seelanstyres-frontends-mvcsolution.yml

resolve the remaining security vulnerabilities on the admin controller
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Controllers/AdminController.cs
Due: .pipelines/seelanstyres-frontends-mvcsolution.yml

use async version of app.Run() as suggested by sonarcloud
  src/Frontends/HealthChecksUISolution/SeelansTyres.Frontends.HealthChecksUI/Program.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Program.cs
  src/Gateways/MvcBffSolution/SeelansTyres.Gateways.MvcBff/Program.cs
  src/Services/AddressServiceSolution/SeelansTyres.Services.AddressService/Program.cs
  src/Services/AddressServiceSolution/SeelansTyres.Workers.AddressWorker/Program.cs
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Program.cs
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Views/Shared/_Layout.cshtml
  src/Services/OrderServiceSolution/SeelansTyres.Services.OrderService/Program.cs
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/Program.cs
  src/Services/TyresServiceSolution/SeelansTyres.Services.TyresService/Program.cs
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

resolve some model property issues
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Controllers/AccountController.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/ViewModels/AccountViewModel.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/ViewModels/ResetPasswordViewModel.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Views/Account/Index.cshtml
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Views/Account/ResetPassword.cshtml
  src/FunctionApps/SystemDegradedTogglerSolution/SeelansTyres.FunctionApps.SystemDegradedToggler/Program.cs
Due: .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-functionapps-systemdegradedtogglersolution.yml

attempt to resolve some form label issues
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Views/Account/Index.cshtml
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Views/Account/Register.cshtml
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Views/Account/ResetPassword.cshtml
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Views/Admin/AddTyre.cshtml
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Views/Admin/UpdateTyre.cshtml
Due: .pipelines/seelanstyres-frontends-mvcsolution.yml

attempt to resolve more label issues
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Views/Account/Index.cshtml
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Views/Account/Login.cshtml
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Views/Grants/Index.cshtml
Due: .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml

resolve more model property issues
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Models/ResetPasswordModel.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/ViewModels/AccountViewModel.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Views/Account/Index.cshtml
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Views/Shared/_TyreShopItem.cshtml
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Quickstart/Account/LoginInputModel.cs
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Quickstart/Account/LogoutInputModel.cs
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Quickstart/Consent/ConsentInputModel.cs
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Quickstart/Device/DeviceAuthorizationInputModel.cs
Due: .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml

introduce logger constants
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Controllers/AccountController.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Controllers/AdminController.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Controllers/ShoppingController.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Extensions/CryptographyExtensions.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/HttpClients/AddressServiceClient.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/HttpClients/CustomerServiceClient.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/HttpClients/OrderServiceClient.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/HttpClients/TyresServiceClient.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Services/CloudImageService.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Services/LocalImageService.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Services/MailService.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Views/Account/Index.cshtml
  src/Gateways/MvcBffSolution/SeelansTyres.Gateways.MvcBff/Services/TokenExchangeService.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Abstractions/Database.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Abstractions/Messaging/AzureServiceBus.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Authorization/CustomerIdFromClaimsMustMatchCustomerIdFromRouteHandler.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Constants/LoggerConstants.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Extensions/BaseMessageExtensions.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/HttpClients/TokenValidationService.cs
  src/Services/AddressServiceSolution/SeelansTyres.Services.AddressService/Services/AddressRepository.cs
  src/Services/AddressServiceSolution/SeelansTyres.Workers.AddressWorker/Services/AddressUpdateService.cs
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Controllers/Api/CustomersController.cs
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Extensions/CryptographyExtensions.cs
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Services/AdminAccountSeeder.cs
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Services/ConfigurationDataSeeder.cs
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Services/CustomerService.cs
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Services/TokenExchangeExtensionGrantValidator.cs
  src/Services/OrderServiceSolution/SeelansTyres.Services.OrderService/Authorization/MustSatisfyOrderRetrievalRulesHandler.cs
  src/Services/OrderServiceSolution/SeelansTyres.Services.OrderService/Services/OrderRepository.cs
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/Services/OrderUpdateService.cs
  src/Services/TyresServiceSolution/SeelansTyres.Services.TyresService/Services/TyresRepository.cs
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

add more contextual constants
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Controllers/AccountController.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/HttpClients/CustomerServiceClient.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Services/MailService.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Constants/LoggerConstants.cs
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Controllers/Api/CustomersController.cs
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Services/AdminAccountSeeder.cs
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Services/CustomerService.cs
  src/Services/OrderServiceSolution/SeelansTyres.Services.OrderService/Authorization/MustSatisfyOrderRetrievalRulesHandler.cs
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

pipelines: add an else block to show the status of the deploySolution variable
  .pipelines/seelanstyres-functionapps-systemdegradedtogglersolution.yml
Due: none

Path conditions:
  .pipelines/seelanstyres-frontends-healthchecksuisolution.yml: any of: src/Frontends/HealthChecksUISolution, src/Libraries/SharedLibrarySolution
  .pipelines/seelanstyres-frontends-mvcsolution.yml: any of: src/Frontends/MvcSolution, src/Libraries/SharedLibrarySolution
  .pipelines/seelanstyres-functionapps-systemdegradedtogglersolution.yml: any of: src/FunctionApps/SystemDegradedTogglerSolution
  .pipelines/seelanstyres-gateways-mvcbff.yml: any of: src/Gateways/MvcBffSolution, src/Libraries/SharedLibrarySolution
  .pipelines/seelanstyres-services-addressservicesolution.yml: any of: src/Services/AddressServiceSolution, src/Libraries/SharedLibrarySolution
  .pipelines/seelanstyres-services-identityservicesolution.yml: any of: src/Services/IdentityServiceSolution, src/Libraries/SharedLibrarySolution
  .pipelines/seelanstyres-services-orderservicesolution.yml: any of: src/Services/OrderServiceSolution, src/Libraries/SharedLibrarySolution
  .pipelines/seelanstyres-services-tyresservicesolution.yml: any of: src/Services/TyresServiceSolution, src/Libraries/SharedLibrarySolution
