Repository ShaylenReddy42/Seelans-Tyres: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-functionapps-systemdegradedtogglersolution.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml

Path conditions:
  .pipelines/seelanstyres-frontends-healthchecksuisolution.yml: any of: src/Frontends/HealthChecksUISolution, src/Libraries/SharedLibrarySolution
  .pipelines/seelanstyres-frontends-mvcsolution.yml: any of: src/Frontends/MvcSolution, src/Libraries/SharedLibrarySolution
  .pipelines/seelanstyres-functionapps-systemdegradedtogglersolution.yml: any of: src/FunctionApps/SystemDegradedTogglerSolution
  .pipelines/seelanstyres-services-addressservicesolution.yml: any of: src/Services/AddressServiceSolution, src/Libraries/SharedLibrarySolution
  .pipelines/seelanstyres-services-orderservicesolution.yml: any of: src/Services/OrderServiceSolution, src/Libraries/SharedLibrarySolution

pipelines: add the "PublishBuildArtifacts@1" task to the pipelines that don't have it
  .pipelines/seelanstyres-frontends-healthchecksuisolution.yml
  .pipelines/seelanstyres-frontends-mvcsolution.yml
  .pipelines/seelanstyres-functionapps-systemdegradedtogglersolution.yml
  .pipelines/seelanstyres-gateways-mvcbff.yml
  .pipelines/seelanstyres-services-identityservicesolution.yml
Due: none

readme: add the build status for the system-degraded toggler
  README.md
Due: none

forgot to add it to the main pipeline
  azure-pipelines.yml
Due: none

nginx: add the health checks ui
  orchestration/custom-images/nginx/custom-configuration/nginx.conf
  scripts/build-with-docker.cmd
Due: none

implement redis
  README.md
  orchestration/docker-compose/docker-compose-all.yml
  orchestration/kubernetes/03-local-services/redis.yaml
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Components/ShoppingCartSummary.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Controllers/ShoppingController.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Program.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/SeelansTyres.Frontends.Mvc.csproj
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Services/CartService.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Services/CustomerService.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Services/DistributedCacheService.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Services/ICacheService.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Services/ICartService.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Services/InMemoryCacheService.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/appsettings.json
Due: .pipelines/seelanstyres-frontends-mvcsolution.yml

readme: include redis
  README.md
Due: none

prevent the site from crashing when redis is unavailable
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Components/ShoppingCartSummary.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Controllers/ShoppingController.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Services/CustomerService.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Services/DistributedCacheService.cs
Due: .pipelines/seelanstyres-frontends-mvcsolution.yml

improve container security
  README.md
  orchestration/kubernetes/03-local-services/elasticsearch.yaml
  orchestration/kubernetes/03-local-services/kibana.yaml
  orchestration/kubernetes/03-local-services/rabbitmq.yaml
  orchestration/kubernetes/03-local-services/redis.yaml
  orchestration/kubernetes/03-local-services/sqlserver.yaml
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.frontends.healthchecksui.yaml
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.frontends.mvc.yaml
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.gateways.mvcbff.yaml
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.services.addressservice.yaml
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.services.identityservice.yaml
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.services.orderservice.yaml
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.services.tyresservice.yaml
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.workers.addressworker.yaml
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.workers.orderworker.yaml
  src/Frontends/HealthChecksUISolution/SeelansTyres.Frontends.HealthChecksUI/Dockerfile
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Dockerfile
  src/Gateways/MvcBffSolution/SeelansTyres.Gateways.MvcBff/Dockerfile
  src/Services/AddressServiceSolution/SeelansTyres.Services.AddressService/Dockerfile
  src/Services/AddressServiceSolution/SeelansTyres.Workers.AddressWorker/Dockerfile
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Dockerfile
  src/Services/OrderServiceSolution/SeelansTyres.Services.OrderService/Dockerfile
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/Dockerfile
  src/Services/TyresServiceSolution/SeelansTyres.Services.TyresService/Dockerfile
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml

images: implement a file size limit using a custom-made validation attribute
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Models/MvcTyreModel.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Validation/FileSizeLimitAttribute.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Views/Admin/AddTyre.cshtml
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Views/Admin/UpdateTyre.cshtml
Due: .pipelines/seelanstyres-frontends-mvcsolution.yml

file size limit: calculate the actual file size in mb and make it part of the validation error
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Validation/FileSizeLimitAttribute.cs
Due: .pipelines/seelanstyres-frontends-mvcsolution.yml

improve resiliency against transient faults using polly
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Program.cs
  src/Gateways/MvcBffSolution/SeelansTyres.Gateways.MvcBff/Program.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Resiliency.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/SeelansTyres.Libraries.Shared.csproj
  src/Services/AddressServiceSolution/SeelansTyres.Workers.AddressWorker/Program.cs
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/Program.cs
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml

update the "no-image" image
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/images/no-image.png
Due: .pipelines/seelanstyres-frontends-mvcsolution.yml

shop: default to "no-image" when the intended image isn't available
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Views/Shared/_TyreShopItem.cshtml
Due: .pipelines/seelanstyres-frontends-mvcsolution.yml

implement functionality to delete addresses
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Controllers/AccountController.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Services/AddressService.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Services/IAddressService.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Views/Account/Index.cshtml
  src/Gateways/MvcBffSolution/SeelansTyres.Gateways.MvcBff/appsettings.json
  src/Services/AddressServiceSolution/SeelansTyres.Services.AddressService/Controllers/AddressesController.cs
  src/Services/AddressServiceSolution/SeelansTyres.Services.AddressService/Services/AddressRepository.cs
  src/Services/AddressServiceSolution/SeelansTyres.Services.AddressService/Services/IAddressRepository.cs
Due: .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-services-addressservicesolution.yml

implement functionality to delete tyres
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Controllers/AdminController.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Services/ITyresService.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Services/TyresService.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Views/Shared/_AdminTyresTable.cshtml
  src/Gateways/MvcBffSolution/SeelansTyres.Gateways.MvcBff/appsettings.json
  src/Services/TyresServiceSolution/SeelansTyres.Services.TyresService/Controllers/TyresController.cs
  src/Services/TyresServiceSolution/SeelansTyres.Services.TyresService/Services/ITyresRepository.cs
  src/Services/TyresServiceSolution/SeelansTyres.Services.TyresService/Services/TyresRepository.cs
Due: .pipelines/seelanstyres-frontends-mvcsolution.yml

upgrade polly to 7.0.2
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/SeelansTyres.Libraries.Shared.csproj
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml

account: improve the design for the addresses
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Views/Account/Index.cshtml
Due: .pipelines/seelanstyres-frontends-mvcsolution.yml

docker: use the informational version instead of the file version
  CMakeLists.txt
  cmake/.env.in
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.frontends.healthchecksui.yaml
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.frontends.mvc.yaml
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.gateways.mvcbff.yaml
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.services.addressservice.yaml
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.services.identityservice.yaml
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.services.orderservice.yaml
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.services.tyresservice.yaml
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.workers.addressworker.yaml
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.workers.orderworker.yaml
Due: none

pipelines: only publish a project if the result is uploaded
  .pipelines/templates/publish-project.yml
Due: none

kubernetes: remove the "runAsNonRoot" property
  orchestration/kubernetes/03-local-services/elasticsearch.yaml
  orchestration/kubernetes/03-local-services/kibana.yaml
  orchestration/kubernetes/03-local-services/rabbitmq.yaml
  orchestration/kubernetes/03-local-services/redis.yaml
  orchestration/kubernetes/03-local-services/sqlserver.yaml
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.frontends.healthchecksui.yaml
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.frontends.mvc.yaml
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.gateways.mvcbff.yaml
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.services.addressservice.yaml
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.services.identityservice.yaml
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.services.orderservice.yaml
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.services.tyresservice.yaml
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.workers.addressworker.yaml
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.workers.orderworker.yaml
Due: none

kubernetes: add the secrets-global ref to all deployments
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.frontends.healthchecksui.yaml
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.gateways.mvcbff.yaml
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.services.addressservice.yaml
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.services.orderservice.yaml
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.services.tyresservice.yaml
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.workers.addressworker.yaml
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.workers.orderworker.yaml
Due: none

kubernetes: move all resources to the default namespace
  orchestration/kubernetes/00-namespace/seelanstyres.yaml
  orchestration/kubernetes/01-secrets/local.cmd
  orchestration/kubernetes/02-configmaps/local.yaml
  orchestration/kubernetes/03-local-services/elasticsearch.yaml
  orchestration/kubernetes/03-local-services/kibana.yaml
  orchestration/kubernetes/03-local-services/rabbitmq.yaml
  orchestration/kubernetes/03-local-services/redis.yaml
  orchestration/kubernetes/03-local-services/sqlserver.yaml
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.frontends.healthchecksui.yaml
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.frontends.mvc.yaml
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.gateways.mvcbff.yaml
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.services.addressservice.yaml
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.services.identityservice.yaml
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.services.orderservice.yaml
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.services.tyresservice.yaml
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.workers.addressworker.yaml
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.workers.orderworker.yaml
  orchestration/kubernetes/05-ingress/local-services.yaml
  orchestration/kubernetes/05-ingress/local.yaml
  scripts/kubernetes/02-deploy.cmd
  scripts/kubernetes/03-delete.cmd
Due: none

kubernetes: restore the namespace metadata
  orchestration/kubernetes/01-secrets/local.cmd
  orchestration/kubernetes/02-configmaps/local.yaml
  orchestration/kubernetes/03-local-services/elasticsearch.yaml
  orchestration/kubernetes/03-local-services/kibana.yaml
  orchestration/kubernetes/03-local-services/rabbitmq.yaml
  orchestration/kubernetes/03-local-services/redis.yaml
  orchestration/kubernetes/03-local-services/sqlserver.yaml
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.frontends.healthchecksui.yaml
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.frontends.mvc.yaml
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.gateways.mvcbff.yaml
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.services.addressservice.yaml
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.services.identityservice.yaml
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.services.orderservice.yaml
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.services.tyresservice.yaml
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.workers.addressworker.yaml
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.workers.orderworker.yaml
  orchestration/kubernetes/05-ingress/local-services.yaml
  orchestration/kubernetes/05-ingress/local.yaml
Due: none

authorization: fix the issue of the role claim missing in the access token
  README.md
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Services/OrderService.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Services/TyresService.cs
  src/Gateways/MvcBffSolution/SeelansTyres.Gateways.MvcBff/Services/TokenExchangeService.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Services/TokenValidationService.cs
  src/Services/AddressServiceSolution/SeelansTyres.Services.AddressService/Authorization/MustBeARegularCustomerHandler.cs
  src/Services/AddressServiceSolution/SeelansTyres.Services.AddressService/Authorization/MustBeARegularCustomerRequirement.cs
  src/Services/AddressServiceSolution/SeelansTyres.Services.AddressService/Program.cs
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Config.cs
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Program.cs
  src/Services/OrderServiceSolution/SeelansTyres.Services.OrderService/Authorization/MustBeAnAdministratorHandler.cs
  src/Services/OrderServiceSolution/SeelansTyres.Services.OrderService/Authorization/MustBeAnAdministratorRequirement.cs
  src/Services/OrderServiceSolution/SeelansTyres.Services.OrderService/Authorization/MustSatisfyOrderRetrievalRulesHandler.cs
  src/Services/OrderServiceSolution/SeelansTyres.Services.OrderService/Controllers/OrdersController.cs
  src/Services/OrderServiceSolution/SeelansTyres.Services.OrderService/Program.cs
  src/Services/TyresServiceSolution/SeelansTyres.Services.TyresService/Authorization/MustBeAnAdministratorHandler.cs
  src/Services/TyresServiceSolution/SeelansTyres.Services.TyresService/Authorization/MustBeAnAdministratorRequirement.cs
  src/Services/TyresServiceSolution/SeelansTyres.Services.TyresService/Controllers/TyresController.cs
  src/Services/TyresServiceSolution/SeelansTyres.Services.TyresService/Program.cs
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml

forgot about the gateway for the token type validation
  src/Gateways/MvcBffSolution/SeelansTyres.Gateways.MvcBff/Program.cs
Due: none

readme: add a related commit for authorization
  README.md
Due: none

configuration: remove the idea of "envMvcBff"
  orchestration/docker-compose/docker-compose-all.yml
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.frontends.mvc.yaml
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/appsettings.json
Due: .pipelines/seelanstyres-frontends-mvcsolution.yml

remove the iis express launch profile from all applications
  src/Frontends/HealthChecksUISolution/SeelansTyres.Frontends.HealthChecksUI/Properties/launchSettings.json
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Properties/launchSettings.json
  src/Gateways/MvcBffSolution/SeelansTyres.Gateways.MvcBff/Properties/launchSettings.json
  src/Services/AddressServiceSolution/SeelansTyres.Services.AddressService/Properties/launchSettings.json
  src/Services/AddressServiceSolution/SeelansTyres.Workers.AddressWorker/Properties/launchSettings.json
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Properties/launchSettings.json
  src/Services/OrderServiceSolution/SeelansTyres.Services.OrderService/Properties/launchSettings.json
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/Properties/launchSettings.json
  src/Services/TyresServiceSolution/SeelansTyres.Services.TyresService/Properties/launchSettings.json
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml

image service: implement functionality to delete images
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Controllers/AdminController.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Services/CloudImageService.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Services/IImageService.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Services/LocalImageService.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Views/Shared/_AdminTyresTable.cshtml
Due: .pipelines/seelanstyres-frontends-mvcsolution.yml

when an image is uploaded, attempt to delete the older one
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Services/CloudImageService.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Services/LocalImageService.cs
Due: .pipelines/seelanstyres-frontends-mvcsolution.yml

iac: prep for prebuild infrastructure as code with bicep
  README.md
  infrastructure/with-bicep/01-prebuild/01-container-registry/template.bicep
  infrastructure/with-bicep/01-prebuild/main.bicep
Due: none

cmake: prep to handle azure container registry
  .gitignore
  CMakeLists.txt
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.frontends.healthchecksui.yaml.in
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.frontends.mvc.yaml.in
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.gateways.mvcbff.yaml.in
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.services.addressservice.yaml.in
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.services.identityservice.yaml.in
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.services.orderservice.yaml.in
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.services.tyresservice.yaml.in
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.workers.addressworker.yaml.in
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.workers.orderworker.yaml.in
Due: none

pipelines: attempt to set the docker image tag from version.txt
  .pipelines/templates/build-and-scan-solution.yml
Due: none

minor mistake
  .pipelines/templates/build-and-scan-solution.yml
Due: none

first attempt at implementing prebuild iac
  .pipelines/templates/build-and-scan-solution.yml
  .pipelines/templates/prebuild-iac.yml
Due: none

pipelines: build and push docker images using acr tasks
  .pipelines/seelanstyres-frontends-healthchecksuisolution.yml
  .pipelines/seelanstyres-frontends-mvcsolution.yml
  .pipelines/seelanstyres-gateways-mvcbff.yml
  .pipelines/seelanstyres-services-addressservicesolution.yml
  .pipelines/seelanstyres-services-identityservicesolution.yml
  .pipelines/seelanstyres-services-orderservicesolution.yml
  .pipelines/seelanstyres-services-tyresservicesolution.yml
  .pipelines/templates/prebuild-iac.yml
  .pipelines/templates/publish-project.yml
  azure-pipelines.yml
Due: none

IT WORKS!!!!! 😁😁😁
  .pipelines/templates/publish-project.yml
Due: none

include the 'InContainer' environment variable in the dockerfile
  orchestration/docker-compose/docker-compose-all.yml
  orchestration/kubernetes/02-configmaps/local.yaml
  src/Frontends/HealthChecksUISolution/SeelansTyres.Frontends.HealthChecksUI/Dockerfile
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Dockerfile
  src/Gateways/MvcBffSolution/SeelansTyres.Gateways.MvcBff/Dockerfile
  src/Services/AddressServiceSolution/SeelansTyres.Services.AddressService/Dockerfile
  src/Services/AddressServiceSolution/SeelansTyres.Workers.AddressWorker/Dockerfile
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Dockerfile
  src/Services/OrderServiceSolution/SeelansTyres.Services.OrderService/Dockerfile
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/Dockerfile
  src/Services/TyresServiceSolution/SeelansTyres.Services.TyresService/Dockerfile
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml

update nuget packages
  .pipelines/templates/build-and-scan-solution.yml
  README.md
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/SeelansTyres.Frontends.Mvc.csproj
  src/FunctionApps/SystemDegradedTogglerSolution/SeelansTyres.FunctionApps.SystemDegradedToggler/SeelansTyres.FunctionApps.SystemDegradedToggler.csproj
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/SeelansTyres.Libraries.Shared.csproj
  src/Services/AddressServiceSolution/SeelansTyres.Data.AddressData/SeelansTyres.Data.AddressData.csproj
  src/Services/AddressServiceSolution/SeelansTyres.Services.AddressService/SeelansTyres.Services.AddressService.csproj
  src/Services/AddressServiceSolution/SeelansTyres.Workers.AddressWorker/SeelansTyres.Workers.AddressWorker.csproj
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/SeelansTyres.Services.IdentityService.csproj
  src/Services/OrderServiceSolution/SeelansTyres.Data.OrderData/SeelansTyres.Data.OrderData.csproj
  src/Services/OrderServiceSolution/SeelansTyres.Services.OrderService/SeelansTyres.Services.OrderService.csproj
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/SeelansTyres.Workers.OrderWorker.csproj
  src/Services/TyresServiceSolution/SeelansTyres.Services.TyresService/SeelansTyres.Services.TyresService.csproj
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-functionapps-systemdegradedtogglersolution.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml
