Repository ShaylenReddy42/Seelans-Tyres: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-functionapps-systemdegradedtogglersolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-gateways-webbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

Path conditions:
  .pipelines/seelanstyres-frontends-healthchecksuisolution.yml: any of: src/Frontends/HealthChecksUISolution, src/Libraries/SharedLibrarySolution
  .pipelines/seelanstyres-frontends-mvcsolution.yml: any of: src/Frontends/MvcSolution, src/Libraries/SharedLibrarySolution
  .pipelines/seelanstyres-functionapps-systemdegradedtogglersolution.yml: any of: src/FunctionApps/SystemDegradedTogglerSolution
  .pipelines/seelanstyres-gateways-mvcbff.yml: any of: src/Gateways/MvcBffSolution, src/Libraries/SharedLibrarySolution
  .pipelines/seelanstyres-gateways-webbff.yml: any of: src/Gateways/WebBffSolution
  .pipelines/seelanstyres-services-addressservicesolution.yml: any of: src/Services/AddressServiceSolution, src/Libraries/SharedLibrarySolution
  .pipelines/seelanstyres-services-identityservicesolution.yml: any of: src/Services/IdentityServiceSolution, src/Libraries/SharedLibrarySolution
  .pipelines/seelanstyres-services-orderservicesolution.yml: any of: src/Services/OrderServiceSolution
  .pipelines/seelanstyres-services-tyresservicesolution.yml: any of: src/Services/TyresServiceSolution

update nuget packages
  .pipelines/templates/build-and-scan-solution.yml
  CMakeLists.txt
  README.md
  orchestration/docker-compose/docker-compose-all.yml
  orchestration/docker-compose/docker-compose-services.yml
  orchestration/kubernetes/03-local-services/elasticsearch.yaml
  orchestration/kubernetes/03-local-services/kibana.yaml
  scripts/pull-required-docker-images.cmd
  src/Frontends/HealthChecksUISolution/SeelansTyres.Frontends.HealthChecksUI/SeelansTyres.Frontends.HealthChecksUI.csproj
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/SeelansTyres.Frontends.Mvc.csproj
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/libman.json
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/lib/fortawesome/fontawesome-free/css/all.min.css
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/lib/fortawesome/fontawesome-free/webfonts/fa-brands-400.ttf
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/lib/fortawesome/fontawesome-free/webfonts/fa-brands-400.woff2
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/lib/fortawesome/fontawesome-free/webfonts/fa-regular-400.ttf
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/lib/fortawesome/fontawesome-free/webfonts/fa-regular-400.woff2
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/lib/fortawesome/fontawesome-free/webfonts/fa-solid-900.ttf
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/lib/fortawesome/fontawesome-free/webfonts/fa-solid-900.woff2
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/lib/fortawesome/fontawesome-free/webfonts/fa-v4compatibility.ttf
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/lib/fortawesome/fontawesome-free/webfonts/fa-v4compatibility.woff2
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/lib/jquery-validation/dist/jquery.validate.min.js
  src/FunctionApps/SystemDegradedTogglerSolution/SeelansTyres.FunctionApps.SystemDegradedToggler/SeelansTyres.FunctionApps.SystemDegradedToggler.csproj
  src/Gateways/WebBffSolution/SeelansTyres.Gateways.WebBff/SeelansTyres.Gateways.WebBff.csproj
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/SeelansTyres.Libraries.Shared.csproj
  src/Services/AddressServiceSolution/SeelansTyres.Services.AddressService/SeelansTyres.Services.AddressService.csproj
  src/Services/AddressServiceSolution/SeelansTyres.Workers.AddressWorker/SeelansTyres.Workers.AddressWorker.csproj
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/SeelansTyres.Services.IdentityService.csproj
  src/Services/OrderServiceSolution/SeelansTyres.Services.OrderService/SeelansTyres.Services.OrderService.csproj
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/SeelansTyres.Workers.OrderWorker.csproj
  src/Services/TyresServiceSolution/SeelansTyres.Services.TyresService/SeelansTyres.Services.TyresService.csproj
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-functionapps-systemdegradedtogglersolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-gateways-webbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

dispose of http response messages
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/HttpClients/AddressServiceClient.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/HttpClients/CustomerServiceClient.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/HttpClients/OrderServiceClient.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/HttpClients/TyresServiceClient.cs
Due: .pipelines/seelanstyres-frontends-mvcsolution.yml

update the dotnet ef tool
  .config/dotnet-tools.json
  README.md
Due: none

resolve all package conflicts
  src/Services/AddressServiceSolution/SeelansTyres.Workers.AddressWorker/SeelansTyres.Workers.AddressWorker.csproj
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/SeelansTyres.Services.IdentityService.csproj
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/SeelansTyres.Workers.OrderWorker.csproj
Due: .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml

update nuget packages
  .config/dotnet-tools.json
  src/Frontends/HealthChecksUISolution/SeelansTyres.Frontends.HealthChecksUI/SeelansTyres.Frontends.HealthChecksUI.csproj
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/SeelansTyres.Frontends.Mvc.csproj
  src/FunctionApps/SystemDegradedTogglerSolution/SeelansTyres.FunctionApps.SystemDegradedToggler/SeelansTyres.FunctionApps.SystemDegradedToggler.csproj
  src/Gateways/WebBffSolution/SeelansTyres.Gateways.WebBff/SeelansTyres.Gateways.WebBff.csproj
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/SeelansTyres.Libraries.Shared.csproj
  src/Services/AddressServiceSolution/SeelansTyres.Services.AddressService/SeelansTyres.Services.AddressService.csproj
  src/Services/AddressServiceSolution/SeelansTyres.Workers.AddressWorker/SeelansTyres.Workers.AddressWorker.csproj
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/SeelansTyres.Services.IdentityService.csproj
  src/Services/OrderServiceSolution/SeelansTyres.Services.OrderService/SeelansTyres.Services.OrderService.csproj
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/SeelansTyres.Workers.OrderWorker.csproj
  src/Services/TyresServiceSolution/SeelansTyres.Services.TyresService/SeelansTyres.Services.TyresService.csproj
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-functionapps-systemdegradedtogglersolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-gateways-webbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

pipelines: upgrade sonarcloud tasks to v3
  .pipelines/templates/build-and-scan-solution.yml
Due: none

pipelines: fix the sonarcloud prep step 🙂
  .pipelines/templates/build-and-scan-solution.yml
Due: none

upgrade the solution to .net 9
  .config/dotnet-tools.json
  .pipelines/seelanstyres-services-identityservicesolution.yml
  .pipelines/templates/build-and-scan-solution.yml
  .pipelines/templates/publish-project.yml
  README.md
  azure-pipelines.yml
  infrastructure/with-bicep/02-environment-specific/07-function-app/template.bicep
  infrastructure/with-bicep/02-environment-specific/08-app-services-low-load/template.bicep
  infrastructure/with-bicep/02-environment-specific/09-app-services-moderate-load/template.bicep
  infrastructure/with-bicep/02-environment-specific/10-app-services-high-load/template.bicep
  orchestration/docker-compose/docker-compose-all.yml
  orchestration/docker-compose/docker-compose-services.yml
  orchestration/kubernetes/03-local-services/elasticsearch.yaml
  orchestration/kubernetes/03-local-services/kibana.yaml
  scripts/pull-required-docker-images.cmd
  src/Frontends/HealthChecksUISolution/SeelansTyres.Frontends.HealthChecksUI/Dockerfile
  src/Frontends/HealthChecksUISolution/SeelansTyres.Frontends.HealthChecksUI/SeelansTyres.Frontends.HealthChecksUI.csproj
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Dockerfile
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/SeelansTyres.Frontends.Mvc.csproj
  src/FunctionApps/SystemDegradedTogglerSolution/SeelansTyres.FunctionApps.SystemDegradedToggler/SeelansTyres.FunctionApps.SystemDegradedToggler.csproj
  src/Gateways/WebBffSolution/SeelansTyres.Gateways.WebBff/Dockerfile
  src/Gateways/WebBffSolution/SeelansTyres.Gateways.WebBff/SeelansTyres.Gateways.WebBff.csproj
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/SeelansTyres.Libraries.Shared.csproj
  src/Services/AddressServiceSolution/SeelansTyres.Data.AddressData/SeelansTyres.Data.AddressData.csproj
  src/Services/AddressServiceSolution/SeelansTyres.Models.AddressModels/SeelansTyres.Models.AddressModels.csproj
  src/Services/AddressServiceSolution/SeelansTyres.Services.AddressService/Dockerfile
  src/Services/AddressServiceSolution/SeelansTyres.Services.AddressService/SeelansTyres.Services.AddressService.csproj
  src/Services/AddressServiceSolution/SeelansTyres.Workers.AddressWorker/Dockerfile
  src/Services/AddressServiceSolution/SeelansTyres.Workers.AddressWorker/SeelansTyres.Workers.AddressWorker.csproj
  src/Services/OrderServiceSolution/SeelansTyres.Data.OrderData/SeelansTyres.Data.OrderData.csproj
  src/Services/OrderServiceSolution/SeelansTyres.Models.OrderModels/SeelansTyres.Models.OrderModels.csproj
  src/Services/OrderServiceSolution/SeelansTyres.Services.OrderService/Dockerfile
  src/Services/OrderServiceSolution/SeelansTyres.Services.OrderService/SeelansTyres.Services.OrderService.csproj
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/Dockerfile
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/SeelansTyres.Workers.OrderWorker.csproj
  src/Services/TyresServiceSolution/SeelansTyres.Models.TyresModels/SeelansTyres.Models.TyresModels.csproj
  src/Services/TyresServiceSolution/SeelansTyres.Services.TyresService/Dockerfile
  src/Services/TyresServiceSolution/SeelansTyres.Services.TyresService/SeelansTyres.Services.TyresService.csproj
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-functionapps-systemdegradedtogglersolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-gateways-webbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

readme: 😮‍💨 ..
  README.md
Due: none

pipelines: comment out the check for deploySolution [again]
  azure-pipelines.yml
Due: none

pipelines: attempt to correct the execute-efcore-bundle yaml
  .pipelines/templates/execute-efcore-bundle.yml
Due: none

attempt to resolve the remaining issues
  infrastructure/with-bicep/02-environment-specific/07-function-app/template.bicep
  src/Frontends/HealthChecksUISolution/SeelansTyres.Frontends.HealthChecksUI/appsettings.json
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml

restore the system-degraded toggler to .net 8
  .pipelines/seelanstyres-functionapps-systemdegradedtogglersolution.yml
  .pipelines/templates/build-and-scan-solution.yml
  README.md
  azure-pipelines.yml
  src/FunctionApps/SystemDegradedTogglerSolution/SeelansTyres.FunctionApps.SystemDegradedToggler/Program.cs
  src/FunctionApps/SystemDegradedTogglerSolution/SeelansTyres.FunctionApps.SystemDegradedToggler/SeelansTyres.FunctionApps.SystemDegradedToggler.csproj
  src/FunctionApps/SystemDegradedTogglerSolution/SeelansTyres.FunctionApps.SystemDegradedToggler/TurnItOn.cs
Due: .pipelines/seelanstyres-functionapps-systemdegradedtogglersolution.yml

pipelines: split the main pipeline's dev stage into multiple jobs
  azure-pipelines.yml
Due: none

yikes, ensure that the jobs run in the right order
  azure-pipelines.yml
Due: none

typo 😮‍💨
  azure-pipelines.yml
Due: none

upgrade the system-degraded toggler to .net 9 [again]
  .pipelines/seelanstyres-functionapps-systemdegradedtogglersolution.yml
  .pipelines/templates/build-and-scan-solution.yml
  README.md
  azure-pipelines.yml
  src/FunctionApps/SystemDegradedTogglerSolution/SeelansTyres.FunctionApps.SystemDegradedToggler/SeelansTyres.FunctionApps.SystemDegradedToggler.csproj
  src/FunctionApps/SystemDegradedTogglerSolution/SeelansTyres.FunctionApps.SystemDegradedToggler/TurnItOn.cs
Due: .pipelines/seelanstyres-functionapps-systemdegradedtogglersolution.yml

update nuget packages
  .config/dotnet-tools.json
  orchestration/docker-compose/docker-compose-all.yml
  orchestration/docker-compose/docker-compose-services.yml
  orchestration/kubernetes/03-local-services/elasticsearch.yaml
  orchestration/kubernetes/03-local-services/kibana.yaml
  scripts/pull-required-docker-images.cmd
  src/Frontends/HealthChecksUISolution/SeelansTyres.Frontends.HealthChecksUI/SeelansTyres.Frontends.HealthChecksUI.csproj
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Program.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/SeelansTyres.Frontends.Mvc.csproj
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/libman.json
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/lib/fortawesome/fontawesome-free/css/all.min.css
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/lib/fortawesome/fontawesome-free/webfonts/fa-brands-400.ttf
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/lib/fortawesome/fontawesome-free/webfonts/fa-brands-400.woff2
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/lib/fortawesome/fontawesome-free/webfonts/fa-regular-400.ttf
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/lib/fortawesome/fontawesome-free/webfonts/fa-regular-400.woff2
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/lib/fortawesome/fontawesome-free/webfonts/fa-solid-900.ttf
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/lib/fortawesome/fontawesome-free/webfonts/fa-solid-900.woff2
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/lib/fortawesome/fontawesome-free/webfonts/fa-v4compatibility.ttf
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/wwwroot/lib/fortawesome/fontawesome-free/webfonts/fa-v4compatibility.woff2
  src/FunctionApps/SystemDegradedTogglerSolution/SeelansTyres.FunctionApps.SystemDegradedToggler/SeelansTyres.FunctionApps.SystemDegradedToggler.csproj
  src/Gateways/WebBffSolution/SeelansTyres.Gateways.WebBff/Program.cs
  src/Gateways/WebBffSolution/SeelansTyres.Gateways.WebBff/SeelansTyres.Gateways.WebBff.csproj
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Abstractions/HealthChecks.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/SeelansTyres.Libraries.Shared.csproj
  src/Services/AddressServiceSolution/SeelansTyres.Services.AddressService/SeelansTyres.Services.AddressService.csproj
  src/Services/AddressServiceSolution/SeelansTyres.Workers.AddressWorker/Program.cs
  src/Services/AddressServiceSolution/SeelansTyres.Workers.AddressWorker/SeelansTyres.Workers.AddressWorker.csproj
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/SeelansTyres.Services.IdentityService.csproj
  src/Services/OrderServiceSolution/SeelansTyres.Services.OrderService/SeelansTyres.Services.OrderService.csproj
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/Program.cs
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/SeelansTyres.Workers.OrderWorker.csproj
  src/Services/TyresServiceSolution/SeelansTyres.Services.TyresService/SeelansTyres.Services.TyresService.csproj
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-functionapps-systemdegradedtogglersolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-gateways-webbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

docker: restore the original publish directory within the Dockerfiles
  src/Frontends/HealthChecksUISolution/SeelansTyres.Frontends.HealthChecksUI/Dockerfile
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Dockerfile
  src/Gateways/WebBffSolution/SeelansTyres.Gateways.WebBff/Dockerfile
  src/Services/AddressServiceSolution/SeelansTyres.Services.AddressService/Dockerfile
  src/Services/AddressServiceSolution/SeelansTyres.Workers.AddressWorker/Dockerfile
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Dockerfile
  src/Services/OrderServiceSolution/SeelansTyres.Services.OrderService/Dockerfile
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/Dockerfile
  src/Services/TyresServiceSolution/SeelansTyres.Services.TyresService/Dockerfile
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-gateways-webbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml
