Repository ShaylenReddy42/Seelans-Tyres: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-functionapps-systemdegradedtogglersolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

Path conditions:
  .pipelines/seelanstyres-frontends-healthchecksuisolution.yml: any of: src/Frontends/HealthChecksUISolution, src/Libraries/SharedLibrarySolution
  .pipelines/seelanstyres-frontends-mvcsolution.yml: any of: src/Frontends/MvcSolution, src/Libraries/SharedLibrarySolution
  .pipelines/seelanstyres-functionapps-systemdegradedtogglersolution.yml: any of: src/FunctionApps/SystemDegradedTogglerSolution
  .pipelines/seelanstyres-gateways-mvcbff.yml: any of: src/Gateways/MvcBffSolution, src/Libraries/SharedLibrarySolution
  .pipelines/seelanstyres-services-addressservicesolution.yml: any of: src/Services/AddressServiceSolution, src/Libraries/SharedLibrarySolution
  .pipelines/seelanstyres-services-identityservicesolution.yml: any of: src/Services/IdentityServiceSolution, src/Libraries/SharedLibrarySolution
  .pipelines/seelanstyres-services-orderservicesolution.yml: any of: src/Services/OrderServiceSolution, src/Libraries/SharedLibrarySolution
  .pipelines/seelanstyres-services-tyresservicesolution.yml: any of: src/Services/TyresServiceSolution, src/Libraries/SharedLibrarySolution

upgrade jquery for the identity service to 3.6.4
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/libman.json
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/wwwroot/lib/jquery/README.md
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/wwwroot/lib/jquery/dist/jquery.js
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/wwwroot/lib/jquery/dist/jquery.min.js
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/wwwroot/lib/jquery/dist/jquery.min.map
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/wwwroot/lib/jquery/dist/jquery.slim.js
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/wwwroot/lib/jquery/dist/jquery.slim.min.js
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/wwwroot/lib/jquery/dist/jquery.slim.min.map
Due: .pipelines/seelanstyres-services-identityservicesolution.yml

upgrade rabbitmq to 6.5.0
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/SeelansTyres.Libraries.Shared.csproj
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

nginx: add kibana and rabbitmq to conf
  orchestration/custom-images/nginx/custom-configuration/nginx.conf
  scripts/build-with-docker.cmd
Due: none

cleanup: move creation of signing credentials into an extension method
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Extensions/CryptographyExtensions.cs
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Program.cs
Due: .pipelines/seelanstyres-services-identityservicesolution.yml

iac: add some comments
  infrastructure/with-bicep/03-environment-specific-phase-02/01-function-app/template.bicep
  infrastructure/with-bicep/03-environment-specific-phase-02/02-app-services-low-load/template.bicep
  infrastructure/with-bicep/03-environment-specific-phase-02/03-app-services-moderate-load/template.bicep
  infrastructure/with-bicep/03-environment-specific-phase-02/04-app-services-high-load/template.bicep
  infrastructure/with-bicep/04-environment-specific-phase-03/00-role-assignments/against-app-configuration.bicep
  infrastructure/with-bicep/04-environment-specific-phase-03/01-scheduled-query-rule/template.bicep
  infrastructure/with-bicep/04-environment-specific-phase-03/02-role-assignment-to-function-app/template.bicep
Due: none

readme: add a notice for the project's wiki
  README.md
Due: none

improve readability of identity server's apiresource config
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Config.cs
Due: .pipelines/seelanstyres-services-identityservicesolution.yml

update nuget packages
  .config/dotnet-tools.json
  .pipelines/templates/build-and-scan-solution.yml
  README.md
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/SeelansTyres.Frontends.Mvc.csproj
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/SeelansTyres.Libraries.Shared.csproj
  src/Services/AddressServiceSolution/SeelansTyres.Data.AddressData/SeelansTyres.Data.AddressData.csproj
  src/Services/AddressServiceSolution/SeelansTyres.Services.AddressService/SeelansTyres.Services.AddressService.csproj
  src/Services/AddressServiceSolution/SeelansTyres.Workers.AddressWorker/SeelansTyres.Workers.AddressWorker.csproj
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/SeelansTyres.Services.IdentityService.csproj
  src/Services/OrderServiceSolution/SeelansTyres.Data.OrderData/SeelansTyres.Data.OrderData.csproj
  src/Services/OrderServiceSolution/SeelansTyres.Services.OrderService/SeelansTyres.Services.OrderService.csproj
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/SeelansTyres.Workers.OrderWorker.csproj
  src/Services/TyresServiceSolution/SeelansTyres.Services.TyresService/SeelansTyres.Services.TyresService.csproj
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

readme: finally add a demo showing how to set up https locally
  README.md
  docs/demos/https-thumbnail.png
Due: none

missed comments for the customers api controller
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Controllers/Api/CustomersController.cs
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/GlobalUsings.cs
Due: .pipelines/seelanstyres-services-identityservicesolution.yml

correctly use the http context accessor where applicable
  README.md
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Services/CustomerService.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Services/OrderService.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Services/TyresService.cs
  src/Services/AddressServiceSolution/SeelansTyres.Services.AddressService/Authorization/CustomerIdFromClaimsMustMatchCustomerIdFromRouteHandler.cs
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Authorization/CustomerIdFromClaimsMustMatchCustomerIdFromRouteHandler.cs
  src/Services/OrderServiceSolution/SeelansTyres.Services.OrderService/Authorization/MustSatisfyOrderRetrievalRulesHandler.cs
Due: .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml

readme: lets be less aggressive
  README.md
Due: none

fix: orchestration/custom-images/nginx/Dockerfile to reduce vulnerabilities
  orchestration/custom-images/nginx/Dockerfile
Due: none

fix: orchestration/custom-images/nginx/Dockerfile to reduce vulnerabilities (#1)
  orchestration/custom-images/nginx/Dockerfile
Due: none

readme: change the recommended nginx image tag
  README.md
Due: none

iac: unify the environment-specific iac solution
  .pipelines/templates/download-artifacts-and-deploy-infrastructure.yml
  infrastructure/with-bicep/02-environment-specific-phase-01/main.bicep
  infrastructure/with-bicep/02-environment-specific/01-app-configuration/template.bicep
  infrastructure/with-bicep/02-environment-specific/02-service-bus/template.bicep
  infrastructure/with-bicep/02-environment-specific/03-storage-account/template.bicep
  infrastructure/with-bicep/02-environment-specific/04-application-insights/template.bicep
  infrastructure/with-bicep/02-environment-specific/05-redis/template.bicep
  infrastructure/with-bicep/02-environment-specific/06-sql-server/template.bicep
  infrastructure/with-bicep/02-environment-specific/07-function-app/template.bicep
  infrastructure/with-bicep/02-environment-specific/08-app-services-low-load/template.bicep
  infrastructure/with-bicep/02-environment-specific/09-app-services-moderate-load/template.bicep
  infrastructure/with-bicep/02-environment-specific/10-app-services-high-load/template.bicep
  infrastructure/with-bicep/02-environment-specific/11-role-assignments/against-app-configuration.bicep
  infrastructure/with-bicep/02-environment-specific/12-scheduled-query-rule/template.bicep
  infrastructure/with-bicep/02-environment-specific/13-role-assignment-to-function-app/template.bicep
  infrastructure/with-bicep/02-environment-specific/main.bicep
  infrastructure/with-bicep/02-environment-specific/main.parameters.json
  infrastructure/with-bicep/03-environment-specific-phase-02/main.bicep
  infrastructure/with-bicep/04-environment-specific-phase-03/main.bicep
Due: none

iac: add "dev" as the default environment in empty params file
  infrastructure/with-bicep/02-environment-specific/main.parameters.json
Due: none

iac: reduce the default soft delete retention to 0 for app configuration
  infrastructure/with-bicep/02-environment-specific/01-app-configuration/template.bicep
Due: none

finally aggregate logs to application insights using serilog
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Logging.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/SeelansTyres.Libraries.Shared.csproj
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

iac: add the elasticsearch and kibana experience query to the query pack
  infrastructure/with-bicep/01-prebuild/01-query-pack/template.bicep
Due: none

add the macOS runtime identifier to all projects
  src/Frontends/HealthChecksUISolution/SeelansTyres.Frontends.HealthChecksUI/SeelansTyres.Frontends.HealthChecksUI.csproj
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/SeelansTyres.Frontends.Mvc.csproj
  src/FunctionApps/SystemDegradedTogglerSolution/SeelansTyres.FunctionApps.SystemDegradedToggler/SeelansTyres.FunctionApps.SystemDegradedToggler.csproj
  src/Gateways/MvcBffSolution/SeelansTyres.Gateways.MvcBff/SeelansTyres.Gateways.MvcBff.csproj
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/SeelansTyres.Libraries.Shared.csproj
  src/Services/AddressServiceSolution/SeelansTyres.Data.AddressData/SeelansTyres.Data.AddressData.csproj
  src/Services/AddressServiceSolution/SeelansTyres.Models.AddressModels/SeelansTyres.Models.AddressModels.csproj
  src/Services/AddressServiceSolution/SeelansTyres.Services.AddressService/SeelansTyres.Services.AddressService.csproj
  src/Services/AddressServiceSolution/SeelansTyres.Workers.AddressWorker/SeelansTyres.Workers.AddressWorker.csproj
  src/Services/IdentityServiceSolution/SeelansTyres.Models.IdentityModels/SeelansTyres.Models.IdentityModels.csproj
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/SeelansTyres.Services.IdentityService.csproj
  src/Services/OrderServiceSolution/SeelansTyres.Data.OrderData/SeelansTyres.Data.OrderData.csproj
  src/Services/OrderServiceSolution/SeelansTyres.Models.OrderModels/SeelansTyres.Models.OrderModels.csproj
  src/Services/OrderServiceSolution/SeelansTyres.Services.OrderService/SeelansTyres.Services.OrderService.csproj
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/SeelansTyres.Workers.OrderWorker.csproj
  src/Services/TyresServiceSolution/SeelansTyres.Models.TyresModels/SeelansTyres.Models.TyresModels.csproj
  src/Services/TyresServiceSolution/SeelansTyres.Services.TyresService/SeelansTyres.Services.TyresService.csproj
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-functionapps-systemdegradedtogglersolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

update nuget packages
  .pipelines/templates/build-and-scan-solution.yml
  README.md
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Extensions/CryptographyExtensions.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/SeelansTyres.Frontends.Mvc.csproj
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Services/CustomerService.cs
  src/FunctionApps/SystemDegradedTogglerSolution/SeelansTyres.FunctionApps.SystemDegradedToggler/SeelansTyres.FunctionApps.SystemDegradedToggler.csproj
  src/Gateways/MvcBffSolution/SeelansTyres.Gateways.MvcBff/SeelansTyres.Gateways.MvcBff.csproj
  src/Gateways/MvcBffSolution/SeelansTyres.Gateways.MvcBff/Services/TokenExchangeService.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/SeelansTyres.Libraries.Shared.csproj
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Services/TokenValidationService.cs
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Quickstart/Diagnostics/DiagnosticsViewModel.cs
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/SeelansTyres.Services.IdentityService.csproj
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-functionapps-systemdegradedtogglersolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

readme: update docker images
  README.md
  orchestration/docker-compose/docker-compose-all.yml
  orchestration/docker-compose/docker-compose-services.yml
  orchestration/kubernetes/03-local-services/elasticsearch.yaml
  orchestration/kubernetes/03-local-services/kibana.yaml
Due: none

resolve all major vulnerabilities detected by docker desktop
  src/Frontends/HealthChecksUISolution/SeelansTyres.Frontends.HealthChecksUI/SeelansTyres.Frontends.HealthChecksUI.csproj
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/SeelansTyres.Frontends.Mvc.csproj
  src/Gateways/MvcBffSolution/SeelansTyres.Gateways.MvcBff/SeelansTyres.Gateways.MvcBff.csproj
  src/Services/AddressServiceSolution/SeelansTyres.Services.AddressService/SeelansTyres.Services.AddressService.csproj
  src/Services/AddressServiceSolution/SeelansTyres.Workers.AddressWorker/SeelansTyres.Workers.AddressWorker.csproj
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/SeelansTyres.Services.IdentityService.csproj
  src/Services/OrderServiceSolution/SeelansTyres.Services.OrderService/SeelansTyres.Services.OrderService.csproj
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/SeelansTyres.Workers.OrderWorker.csproj
  src/Services/TyresServiceSolution/SeelansTyres.Services.TyresService/SeelansTyres.Services.TyresService.csproj
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

seems i forgot one
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Quickstart/Diagnostics/DiagnosticsViewModel.cs
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/SeelansTyres.Services.IdentityService.csproj
Due: .pipelines/seelanstyres-services-identityservicesolution.yml

fix the docker launch profile for visual studio
  src/Frontends/HealthChecksUISolution/SeelansTyres.Frontends.HealthChecksUI/Properties/launchSettings.json
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Properties/launchSettings.json
  src/Gateways/MvcBffSolution/SeelansTyres.Gateways.MvcBff/Properties/launchSettings.json
  src/Services/AddressServiceSolution/SeelansTyres.Services.AddressService/Properties/launchSettings.json
  src/Services/AddressServiceSolution/SeelansTyres.Workers.AddressWorker/Properties/launchSettings.json
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Properties/launchSettings.json
  src/Services/OrderServiceSolution/SeelansTyres.Services.OrderService/Properties/launchSettings.json
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/Properties/launchSettings.json
  src/Services/TyresServiceSolution/SeelansTyres.Services.TyresService/Properties/launchSettings.json
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

iac: increase app configuration's soft delete retention to 1
  infrastructure/with-bicep/02-environment-specific/01-app-configuration/template.bicep
Due: none

fix the database migrations script
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/SeelansTyres.Libraries.Shared.csproj
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

upgrade serilog with the proper fix for the database migrations issue
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Logging.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/SeelansTyres.Libraries.Shared.csproj
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

move and rename http clients from the services directory to an httpclients directory
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Controllers/AccountController.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Controllers/AdminController.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Controllers/HomeController.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Controllers/ShoppingController.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/HttpClients/AddressServiceClient.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/HttpClients/CustomerServiceClient.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/HttpClients/IAddressServiceClient.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/HttpClients/ICustomerServiceClient.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/HttpClients/IOrderServiceClient.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/HttpClients/ITyresServiceClient.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/HttpClients/OrderServiceClient.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/HttpClients/TyresServiceClient.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Program.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Views/Shared/_LoginPartial.cshtml
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Views/_ViewImports.cshtml
Due: .pipelines/seelanstyres-frontends-mvcsolution.yml

cleanup: resolve the code duplication for the CustomerIdFromClaimsMustMatchCustomerIdFromRoute authorization requirement
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Authorization/CustomerIdFromClaimsMustMatchCustomerIdFromRouteHandler.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Authorization/CustomerIdFromClaimsMustMatchCustomerIdFromRouteRequirement.cs
  src/Services/AddressServiceSolution/SeelansTyres.Services.AddressService/Authorization/CustomerIdFromClaimsMustMatchCustomerIdFromRouteRequirement.cs
  src/Services/AddressServiceSolution/SeelansTyres.Services.AddressService/Program.cs
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Authorization/CustomerIdFromClaimsMustMatchCustomerIdFromRouteHandler.cs
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Authorization/CustomerIdFromClaimsMustMatchCustomerIdFromRouteRequirement.cs
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Program.cs
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

swagger docs: restrict the request body and response body to application/json
  src/Services/AddressServiceSolution/SeelansTyres.Services.AddressService/Controllers/AddressesController.cs
  src/Services/AddressServiceSolution/SeelansTyres.Services.AddressService/GlobalUsings.cs
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Controllers/Api/CustomersController.cs
  src/Services/OrderServiceSolution/SeelansTyres.Services.OrderService/Controllers/OrdersController.cs
  src/Services/TyresServiceSolution/SeelansTyres.Services.TyresService/Controllers/BrandsController.cs
  src/Services/TyresServiceSolution/SeelansTyres.Services.TyresService/Controllers/TyresController.cs
Due: .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

logging: use a consistent template across all microservices
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Logging.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/SeelansTyres.Libraries.Shared.csproj
  src/Services/AddressServiceSolution/SeelansTyres.Services.AddressService/Program.cs
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

update microsoft's nuget packages using a wildcard
  .config/dotnet-tools.json
  .pipelines/templates/build-and-scan-solution.yml
  README.md
  src/Frontends/HealthChecksUISolution/SeelansTyres.Frontends.HealthChecksUI/SeelansTyres.Frontends.HealthChecksUI.csproj
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/SeelansTyres.Frontends.Mvc.csproj
  src/FunctionApps/SystemDegradedTogglerSolution/SeelansTyres.FunctionApps.SystemDegradedToggler/SeelansTyres.FunctionApps.SystemDegradedToggler.csproj
  src/Gateways/MvcBffSolution/SeelansTyres.Gateways.MvcBff/SeelansTyres.Gateways.MvcBff.csproj
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Logging.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/SeelansTyres.Libraries.Shared.csproj
  src/Services/AddressServiceSolution/SeelansTyres.Data.AddressData/SeelansTyres.Data.AddressData.csproj
  src/Services/AddressServiceSolution/SeelansTyres.Services.AddressService/SeelansTyres.Services.AddressService.csproj
  src/Services/AddressServiceSolution/SeelansTyres.Workers.AddressWorker/SeelansTyres.Workers.AddressWorker.csproj
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/SeelansTyres.Services.IdentityService.csproj
  src/Services/OrderServiceSolution/SeelansTyres.Data.OrderData/SeelansTyres.Data.OrderData.csproj
  src/Services/OrderServiceSolution/SeelansTyres.Services.OrderService/SeelansTyres.Services.OrderService.csproj
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/SeelansTyres.Workers.OrderWorker.csproj
  src/Services/TyresServiceSolution/SeelansTyres.Services.TyresService/SeelansTyres.Services.TyresService.csproj
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-functionapps-systemdegradedtogglersolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

hopefully resolve the final code smells
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/HttpClients/OrderServiceClient.cs
  src/Services/OrderServiceSolution/SeelansTyres.Services.OrderService/Services/OrderRepository.cs
  src/Services/TyresServiceSolution/SeelansTyres.Services.TyresService/Services/TyresRepository.cs
Due: .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

begin to restrict nuget package updates for many packages
  src/Frontends/HealthChecksUISolution/SeelansTyres.Frontends.HealthChecksUI/SeelansTyres.Frontends.HealthChecksUI.csproj
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/SeelansTyres.Frontends.Mvc.csproj
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/SeelansTyres.Libraries.Shared.csproj
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/SeelansTyres.Services.IdentityService.csproj
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-gateways-mvcbff.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-identityservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml
