Repository ShaylenReddy42/Seelans-Tyres: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-functionapps-systemdegradedtogglersolution.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

Path conditions:
  .pipelines/seelanstyres-frontends-healthchecksuisolution.yml: any of: src/Frontends/HealthChecksUISolution, src/Libraries/SharedLibrarySolution
  .pipelines/seelanstyres-frontends-mvcsolution.yml: any of: src/Frontends/MvcSolution, src/Libraries/SharedLibrarySolution
  .pipelines/seelanstyres-functionapps-systemdegradedtogglersolution.yml: any of: src/FunctionApps/SystemDegradedTogglerSolution
  .pipelines/seelanstyres-services-addressservicesolution.yml: any of: src/Services/AddressServiceSolution, src/Libraries/SharedLibrarySolution
  .pipelines/seelanstyres-services-orderservicesolution.yml: any of: src/Services/OrderServiceSolution, src/Libraries/SharedLibrarySolution
  .pipelines/seelanstyres-services-tyresservicesolution.yml: any of: src/Services/TyresServiceSolution, src/Libraries/SharedLibrarySolution

readme: update visual studio requirement to 17.5
  README.md
Due: none

csproj: include the correct dockerfile tag for each project
  src/Frontends/HealthChecksUISolution/SeelansTyres.Frontends.HealthChecksUI/SeelansTyres.Frontends.HealthChecksUI.csproj
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/SeelansTyres.Frontends.Mvc.csproj
  src/Gateways/MvcBffSolution/SeelansTyres.Gateways.MvcBff/SeelansTyres.Gateways.MvcBff.csproj
  src/Services/AddressServiceSolution/SeelansTyres.Services.AddressService/SeelansTyres.Services.AddressService.csproj
  src/Services/AddressServiceSolution/SeelansTyres.Workers.AddressWorker/SeelansTyres.Workers.AddressWorker.csproj
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/SeelansTyres.Services.IdentityService.csproj
  src/Services/OrderServiceSolution/SeelansTyres.Services.OrderService/SeelansTyres.Services.OrderService.csproj
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/SeelansTyres.Workers.OrderWorker.csproj
  src/Services/TyresServiceSolution/SeelansTyres.Services.TyresService/SeelansTyres.Services.TyresService.csproj
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

pipelines: make the acr build step more readable
  .pipelines/templates/publish-project.yml
Due: none

pipelines: increase the timeout for the main pipeline to 180 minutes
  .pipelines/seelanstyres-frontends-healthchecksuisolution.yml
  .pipelines/seelanstyres-frontends-mvcsolution.yml
  .pipelines/seelanstyres-functionapps-systemdegradedtogglersolution.yml
  .pipelines/seelanstyres-gateways-mvcbff.yml
  .pipelines/seelanstyres-services-addressservicesolution.yml
  .pipelines/seelanstyres-services-identityservicesolution.yml
  .pipelines/seelanstyres-services-orderservicesolution.yml
  .pipelines/seelanstyres-services-tyresservicesolution.yml
  azure-pipelines.yml
Due: none

hopefully this doesn't make sonarcloud complain anymore
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Quickstart/Account/AccountController.cs
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Quickstart/Consent/ConsentController.cs
Due: none

iac: include a query pack with the query used for the health check in prebuild
  infrastructure/with-bicep/01-prebuild/01-container-registry/template.bicep
  infrastructure/with-bicep/01-prebuild/02-query-pack/template.bicep
  infrastructure/with-bicep/01-prebuild/main.bicep
Due: none

readme: add an azure friday video related to bicep
  README.md
Due: none

iac: begin to build up environment-specific resources in phases
  infrastructure/with-bicep/02-environment-specific-phase-01/01-app-configuration/template.bicep
  infrastructure/with-bicep/02-environment-specific-phase-01/02-service-bus/template.bicep
  infrastructure/with-bicep/02-environment-specific-phase-01/03-storage-account/template.bicep
  infrastructure/with-bicep/02-environment-specific-phase-01/04-application-insights/template.bicep
  infrastructure/with-bicep/02-environment-specific-phase-01/05-redis/template.bicep
  infrastructure/with-bicep/02-environment-specific-phase-01/main.bicep
Due: none

iac: add the function app and the scheduled query rule of phase 3
  infrastructure/with-bicep/02-environment-specific-phase-01/01-app-configuration/template.bicep
  infrastructure/with-bicep/02-environment-specific-phase-01/02-service-bus/template.bicep
  infrastructure/with-bicep/02-environment-specific-phase-01/03-storage-account/template.bicep
  infrastructure/with-bicep/02-environment-specific-phase-01/04-application-insights/template.bicep
  infrastructure/with-bicep/02-environment-specific-phase-01/05-redis/template.bicep
  infrastructure/with-bicep/02-environment-specific-phase-01/main.bicep
  infrastructure/with-bicep/03-environment-specific-phase-02/01-function-app/template.bicep
  infrastructure/with-bicep/03-environment-specific-phase-02/main.bicep
  infrastructure/with-bicep/04-environment-specific-phase-03/01-scheduled-query-rule/template.bicep
  infrastructure/with-bicep/04-environment-specific-phase-03/main.bicep
Due: none

iac: add the role assignment to the function app against app configuration
  infrastructure/with-bicep/04-environment-specific-phase-03/00-role-assignments/against-app-configuration.bicep
  infrastructure/with-bicep/04-environment-specific-phase-03/02-role-assignment-to-function-app/template.bicep
  infrastructure/with-bicep/04-environment-specific-phase-03/main.bicep
Due: none

iac: include the master key with the function url and lock down the turniton function
  infrastructure/with-bicep/04-environment-specific-phase-03/01-scheduled-query-rule/template.bicep
  src/FunctionApps/SystemDegradedTogglerSolution/SeelansTyres.FunctionApps.SystemDegradedToggler/TurnItOn.cs
Due: .pipelines/seelanstyres-functionapps-systemdegradedtogglersolution.yml

function app: ensure to preserve the content type on update
  src/FunctionApps/SystemDegradedTogglerSolution/SeelansTyres.FunctionApps.SystemDegradedToggler/TurnItOn.cs
Due: .pipelines/seelanstyres-functionapps-systemdegradedtogglersolution.yml

implement continuous deployment to dev for the function app
  .pipelines/seelanstyres-frontends-healthchecksuisolution.yml
  .pipelines/seelanstyres-frontends-mvcsolution.yml
  .pipelines/seelanstyres-functionapps-systemdegradedtogglersolution.yml
  .pipelines/seelanstyres-gateways-mvcbff.yml
  .pipelines/seelanstyres-services-addressservicesolution.yml
  .pipelines/seelanstyres-services-identityservicesolution.yml
  .pipelines/seelanstyres-services-orderservicesolution.yml
  .pipelines/seelanstyres-services-tyresservicesolution.yml
  .pipelines/templates/download-artifacts-and-deploy-infrastructure.yml
  .pipelines/templates/final-copy-and-publish-of-artifacts.yml
  azure-pipelines.yml
Due: none

and of course it didn't work on the first try
  .pipelines/templates/final-copy-and-publish-of-artifacts.yml
Due: none

fails again but PROGRESS
  .pipelines/templates/download-artifacts-and-deploy-infrastructure.yml
  .pipelines/templates/final-copy-and-publish-of-artifacts.yml
Due: none

pipelines: extract a template for creating an ef core bundle
  .pipelines/seelanstyres-services-addressservicesolution.yml
  .pipelines/seelanstyres-services-orderservicesolution.yml
  .pipelines/seelanstyres-services-tyresservicesolution.yml
  .pipelines/templates/create-efcore-bundle.yml
  .pipelines/templates/final-copy-and-publish-of-artifacts.yml
  azure-pipelines.yml
Due: none

pipelines: move the dotnet tools restore step into the build-and-scan-solution template
  .pipelines/seelanstyres-services-addressservicesolution.yml
  .pipelines/seelanstyres-services-orderservicesolution.yml
  .pipelines/seelanstyres-services-tyresservicesolution.yml
  .pipelines/templates/build-and-scan-solution.yml
  azure-pipelines.yml
Due: none

progress all pipelines to dev and make alignment more consistent
  .pipelines/seelanstyres-frontends-healthchecksuisolution.yml
  .pipelines/seelanstyres-frontends-mvcsolution.yml
  .pipelines/seelanstyres-functionapps-systemdegradedtogglersolution.yml
  .pipelines/seelanstyres-gateways-mvcbff.yml
  .pipelines/seelanstyres-services-addressservicesolution.yml
  .pipelines/seelanstyres-services-identityservicesolution.yml
  .pipelines/seelanstyres-services-orderservicesolution.yml
  .pipelines/seelanstyres-services-tyresservicesolution.yml
  .pipelines/templates/build-and-scan-solution.yml
  .pipelines/templates/deploy-system-degraded-toggler.yml
  .pipelines/templates/publish-project.yml
  azure-pipelines.yml
Due: none

fix the solution in docker compose
  src/Frontends/HealthChecksUISolution/SeelansTyres.Frontends.HealthChecksUI/Dockerfile
  src/Frontends/HealthChecksUISolution/SeelansTyres.Frontends.HealthChecksUI/SeelansTyres.Frontends.HealthChecksUI.csproj
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Dockerfile
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/SeelansTyres.Frontends.Mvc.csproj
  src/Gateways/MvcBffSolution/SeelansTyres.Gateways.MvcBff/Dockerfile
  src/Gateways/MvcBffSolution/SeelansTyres.Gateways.MvcBff/SeelansTyres.Gateways.MvcBff.csproj
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/SeelansTyres.Libraries.Shared.csproj
  src/Services/AddressServiceSolution/SeelansTyres.Data.AddressData/SeelansTyres.Data.AddressData.csproj
  src/Services/AddressServiceSolution/SeelansTyres.Models.AddressModels/SeelansTyres.Models.AddressModels.csproj
  src/Services/AddressServiceSolution/SeelansTyres.Services.AddressService/Dockerfile
  src/Services/AddressServiceSolution/SeelansTyres.Services.AddressService/SeelansTyres.Services.AddressService.csproj
  src/Services/AddressServiceSolution/SeelansTyres.Workers.AddressWorker/Dockerfile
  src/Services/AddressServiceSolution/SeelansTyres.Workers.AddressWorker/SeelansTyres.Workers.AddressWorker.csproj
  src/Services/IdentityServiceSolution/SeelansTyres.Models.IdentityModels/SeelansTyres.Models.IdentityModels.csproj
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Dockerfile
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/SeelansTyres.Services.IdentityService.csproj
  src/Services/OrderServiceSolution/SeelansTyres.Data.OrderData/SeelansTyres.Data.OrderData.csproj
  src/Services/OrderServiceSolution/SeelansTyres.Models.OrderModels/SeelansTyres.Models.OrderModels.csproj
  src/Services/OrderServiceSolution/SeelansTyres.Services.OrderService/Dockerfile
  src/Services/OrderServiceSolution/SeelansTyres.Services.OrderService/SeelansTyres.Services.OrderService.csproj
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/Dockerfile
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/SeelansTyres.Workers.OrderWorker.csproj
  src/Services/TyresServiceSolution/SeelansTyres.Models.TyresModels/SeelansTyres.Models.TyresModels.csproj
  src/Services/TyresServiceSolution/SeelansTyres.Services.TyresService/Dockerfile
  src/Services/TyresServiceSolution/SeelansTyres.Services.TyresService/SeelansTyres.Services.TyresService.csproj
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

update the azure.core nuget package
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/SeelansTyres.Frontends.Mvc.csproj
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/SeelansTyres.Libraries.Shared.csproj
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

update elasticsearch and kibana
  README.md
  orchestration/docker-compose/docker-compose-all.yml
  orchestration/docker-compose/docker-compose-services.yml
  orchestration/kubernetes/03-local-services/elasticsearch.yaml
  orchestration/kubernetes/03-local-services/kibana.yaml
Due: none

kubernetes: improve on the resources requested and limits
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.frontends.healthchecksui.yaml.in
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.frontends.mvc.yaml.in
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.gateways.mvcbff.yaml.in
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.services.addressservice.yaml.in
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.services.identityservice.yaml.in
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.services.orderservice.yaml.in
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.services.tyresservice.yaml.in
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.workers.addressworker.yaml.in
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.workers.orderworker.yaml.in
Due: none

fix the create efcore bundle step by passing in the dbcontext
  .pipelines/seelanstyres-services-addressservicesolution.yml
  .pipelines/seelanstyres-services-orderservicesolution.yml
  .pipelines/seelanstyres-services-tyresservicesolution.yml
  .pipelines/templates/create-efcore-bundle.yml
  azure-pipelines.yml
Due: none

iac: add sql server
  .pipelines/templates/download-artifacts-and-deploy-infrastructure.yml
  infrastructure/with-bicep/02-environment-specific-phase-01/06-sql-server/template.bicep
  infrastructure/with-bicep/02-environment-specific-phase-01/main.bicep
Due: none

implement database connection resiliency
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/UnpublishedUpdatesManagement.cs
  src/Services/AddressServiceSolution/SeelansTyres.Services.AddressService/Program.cs
  src/Services/AddressServiceSolution/SeelansTyres.Workers.AddressWorker/Program.cs
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Program.cs
  src/Services/OrderServiceSolution/SeelansTyres.Services.OrderService/Program.cs
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/Program.cs
  src/Services/TyresServiceSolution/SeelansTyres.Services.TyresService/Program.cs
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

get the solution to work with azure app services
  CMakeLists.txt
  cmake/run.cmd.in
  src/Frontends/HealthChecksUISolution/SeelansTyres.Frontends.HealthChecksUI/Program.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Program.cs
  src/Gateways/MvcBffSolution/SeelansTyres.Gateways.MvcBff/Program.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/Models/CommonBuilderConfigurationModel.cs
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/WebApplicationBuilderConfiguration.cs
  src/Services/AddressServiceSolution/SeelansTyres.Services.AddressService/Program.cs
  src/Services/AddressServiceSolution/SeelansTyres.Workers.AddressWorker/Program.cs
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/Program.cs
  src/Services/OrderServiceSolution/SeelansTyres.Services.OrderService/Program.cs
  src/Services/OrderServiceSolution/SeelansTyres.Workers.OrderWorker/Program.cs
  src/Services/TyresServiceSolution/SeelansTyres.Services.TyresService/Program.cs
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

iac: remove the container registry and clean up the pipelines
  .pipelines/seelanstyres-frontends-healthchecksuisolution.yml
  .pipelines/seelanstyres-frontends-mvcsolution.yml
  .pipelines/seelanstyres-functionapps-systemdegradedtogglersolution.yml
  .pipelines/seelanstyres-gateways-mvcbff.yml
  .pipelines/seelanstyres-services-addressservicesolution.yml
  .pipelines/seelanstyres-services-identityservicesolution.yml
  .pipelines/seelanstyres-services-orderservicesolution.yml
  .pipelines/seelanstyres-services-tyresservicesolution.yml
  .pipelines/templates/build-and-scan-solution.yml
  .pipelines/templates/prebuild-iac.yml
  .pipelines/templates/publish-project.yml
  azure-pipelines.yml
  infrastructure/with-bicep/01-prebuild/01-container-registry/template.bicep
  infrastructure/with-bicep/01-prebuild/01-query-pack/template.bicep
  infrastructure/with-bicep/01-prebuild/main.bicep
Due: none

mvcbff: allow configuration substitutor to override the service ports
  src/Gateways/MvcBffSolution/SeelansTyres.Gateways.MvcBff/appsettings.json
Due: none

change the way redis is used
  orchestration/docker-compose/docker-compose-all.yml
  orchestration/kubernetes/04-deployments/cmake/seelanstyres.frontends.mvc.yaml.in
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/Program.cs
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/appsettings.json
Due: .pipelines/seelanstyres-frontends-mvcsolution.yml

iac: complete the solution
  .pipelines/templates/download-artifacts-and-deploy-infrastructure.yml
  infrastructure/with-bicep/03-environment-specific-phase-02/01-function-app/template.bicep
  infrastructure/with-bicep/03-environment-specific-phase-02/02-app-services-low-load/template.bicep
  infrastructure/with-bicep/03-environment-specific-phase-02/03-app-services-moderate-load/template.bicep
  infrastructure/with-bicep/03-environment-specific-phase-02/04-app-services-high-load/template.bicep
  infrastructure/with-bicep/03-environment-specific-phase-02/main.bicep
Due: none

pipelines: add the template for deploying webapps
  .pipelines/templates/deploy-webapp.yml
Due: none

pipelines: add the database migration template
  .pipelines/seelanstyres-services-addressservicesolution.yml
  .pipelines/seelanstyres-services-orderservicesolution.yml
  .pipelines/seelanstyres-services-tyresservicesolution.yml
  .pipelines/templates/execute-efcore-bundle.yml
  azure-pipelines.yml
Due: none

pipelines: finally complete them all
  .pipelines/seelanstyres-frontends-healthchecksuisolution.yml
  .pipelines/seelanstyres-frontends-mvcsolution.yml
  .pipelines/seelanstyres-gateways-mvcbff.yml
  .pipelines/seelanstyres-services-addressservicesolution.yml
  .pipelines/seelanstyres-services-identityservicesolution.yml
  .pipelines/seelanstyres-services-orderservicesolution.yml
  .pipelines/seelanstyres-services-tyresservicesolution.yml
  .pipelines/templates/deploy-webapp.yml
  azure-pipelines.yml
Due: none

everything is green in azure
  infrastructure/with-bicep/03-environment-specific-phase-02/04-app-services-high-load/template.bicep
  src/Frontends/MvcSolution/SeelansTyres.Frontends.Mvc/appsettings.json
  src/Libraries/SharedLibrarySolution/SeelansTyres.Libraries.Shared/CookiePolicy.cs
  src/Services/IdentityServiceSolution/SeelansTyres.Services.IdentityService/appsettings.json
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml, .pipelines/seelanstyres-frontends-mvcsolution.yml, .pipelines/seelanstyres-services-addressservicesolution.yml, .pipelines/seelanstyres-services-orderservicesolution.yml, .pipelines/seelanstyres-services-tyresservicesolution.yml

iac: use the standard sku for app configuration in all environments
  infrastructure/with-bicep/02-environment-specific-phase-01/01-app-configuration/template.bicep
Due: none

readme: add a quick demo showcasing the solution in azure
  README.md
  docs/demos/azure-thumbnail.png
Due: none

iac: use a cheaper option for databases in dev
  infrastructure/with-bicep/02-environment-specific-phase-01/06-sql-server/template.bicep
Due: none

pipelines: conditionally deploy the solution to azure
  .pipelines/seelanstyres-frontends-healthchecksuisolution.yml
  .pipelines/seelanstyres-frontends-mvcsolution.yml
  .pipelines/seelanstyres-functionapps-systemdegradedtogglersolution.yml
  .pipelines/seelanstyres-gateways-mvcbff.yml
  .pipelines/seelanstyres-services-addressservicesolution.yml
  .pipelines/seelanstyres-services-identityservicesolution.yml
  .pipelines/seelanstyres-services-orderservicesolution.yml
  .pipelines/seelanstyres-services-tyresservicesolution.yml
  azure-pipelines.yml
Due: none

upgrade the healthchecksui to .net 7
  infrastructure/with-bicep/03-environment-specific-phase-02/02-app-services-low-load/template.bicep
  src/Frontends/HealthChecksUISolution/SeelansTyres.Frontends.HealthChecksUI/Dockerfile
  src/Frontends/HealthChecksUISolution/SeelansTyres.Frontends.HealthChecksUI/SeelansTyres.Frontends.HealthChecksUI.csproj
Due: .pipelines/seelanstyres-frontends-healthchecksuisolution.yml
